Repository gloddy-dev/gloddy-client, pull requests merged in 2023-11, with the labels that each got.

#501 Refactoring : community 글에 이미지 없을 때의 UI 추가
  src/app/[lng]/(main)/community/components/ArticleItem.client.tsx
  src/constants/dummyData.ts
Labels: Refactoring

#503 Fix : 이슈 해결
  src/app/[lng]/(main)/grouping/create/funnels/meetDate/TimeSection.client.tsx
  src/app/[lng]/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/hooks/useCheckUpdate.ts
  src/utils/getMobileDevice.ts
Labels: Fix

#513 Feature : fcm token 통신 및 알림 api 구현
  src/apis/common/apis.ts
  src/apis/common/queries.ts
  src/apis/config/privateApiNotification.ts
  src/apis/notifications/apis.ts
  src/apis/notifications/index.ts
  src/apis/notifications/keys.ts
  src/apis/notifications/mutations.ts
  src/apis/notifications/queries.ts
  src/apis/notifications/type.ts
  src/app/[lng]/(main)/grouping/components/GroupingHeader.tsx
  src/app/[lng]/(sub)/notification/components/NotiCard.client.tsx
  src/app/[lng]/(sub)/notification/components/NotificationSection.tsx
  src/app/[lng]/(sub)/notification/page.tsx
  src/app/[lng]/page.tsx
  src/constants/notifications.ts
  src/middleware.ts
Labels: Feature

#508 Feature : tailwind css 최적화
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/cache/@trysound-sax-npm-0.2.0-9f763d0295-11226c39b5.zip
  .yarn/cache/browserslist-npm-4.22.1-cccae6d74e-7e6b10c53f.zip
  .yarn/cache/caniuse-api-npm-3.0.0-1272c2981e-db2a229383.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001561-b213ca8bce-949829fe03.zip
  .yarn/cache/colord-npm-2.9.3-5c35c27898-95d909bfbc.zip
  .yarn/cache/commander-npm-7.2.0-19178180f8-53501cbeee.zip
  .yarn/cache/css-declaration-sorter-npm-6.4.1-de0d10e8a6-cbdc9e0d48.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-2772c049b1.zip
  .yarn/cache/css-tree-npm-2.2.1-ee98ac48a8-b94aa8cc2f.zip
  .yarn/cache/css-tree-npm-2.3.1-6540d78e26-493cc24b5c.zip
  .yarn/cache/cssnano-npm-6.0.1-1738027c9a-15e0777189.zip
  .yarn/cache/cssnano-preset-default-npm-6.0.1-fcbc36e167-451080ae47.zip
  .yarn/cache/cssnano-utils-npm-4.0.0-5f31db365f-7db9b3eb4e.zip
  .yarn/cache/csso-npm-5.0.5-b21e2a8b65-0ad858d36b.zip
  .yarn/cache/dom-serializer-npm-2.0.0-378ebc7200-cd1810544f.zip
  .yarn/cache/domhandler-npm-5.0.3-3ede73dc10-0f58f4a6af.zip
  .yarn/cache/domutils-npm-3.1.0-66c92ef7eb-e5757456dd.zip
  .yarn/cache/electron-to-chromium-npm-1.4.576-a9007b8de0-cf26065d95.zip
  .yarn/cache/lodash.uniq-npm-4.5.0-7c270dca85-a4779b57a8.zip
  .yarn/cache/mdn-data-npm-2.0.28-9e644d5992-f51d587a6e.zip
  .yarn/cache/mdn-data-npm-2.0.30-bf7b39c09a-d6ac5ac743.zip
  .yarn/cache/postcss-calc-npm-9.0.1-5c2a9b6d57-7327ed83bf.zip
  .yarn/cache/postcss-colormin-npm-6.0.0-b857a4556b-f7113758df.zip
  .yarn/cache/postcss-convert-values-npm-6.0.0-70092d4179-511ca93581.zip
  .yarn/cache/postcss-discard-comments-npm-6.0.0-ac728161e4-9be073707b.zip
  .yarn/cache/postcss-discard-duplicates-npm-6.0.0-ea71761f90-999dfc652a.zip
  .yarn/cache/postcss-discard-empty-npm-6.0.0-5142133c52-0d6cc60471.zip
  .yarn/cache/postcss-discard-overridden-npm-6.0.0-460871271c-f2d244bb57.zip
  .yarn/cache/postcss-merge-longhand-npm-6.0.0-b810e8f284-86d1eda1b8.zip
  .yarn/cache/postcss-merge-rules-npm-6.0.1-25e6b2ceb3-db003c8203.zip
  .yarn/cache/postcss-minify-font-values-npm-6.0.0-aa5bb21f6f-60de1e405a.zip
  .yarn/cache/postcss-minify-gradients-npm-6.0.0-5652777e60-f2399211f7.zip
  .yarn/cache/postcss-minify-params-npm-6.0.0-ee0bb9bac1-1cd9e372cf.zip
  .yarn/cache/postcss-minify-selectors-npm-6.0.0-b477eb9e76-13ce0a1055.zip
  .yarn/cache/postcss-normalize-charset-npm-6.0.0-c7634cef31-186a94083f.zip
  .yarn/cache/postcss-normalize-display-values-npm-6.0.0-05f480e36e-4f8da7cf81.zip
  .yarn/cache/postcss-normalize-positions-npm-6.0.0-41d8e545a7-34dedb07f9.zip
  .yarn/cache/postcss-normalize-repeat-style-npm-6.0.0-a33f89383d-a53b994bb6.zip
  .yarn/cache/postcss-normalize-string-npm-6.0.0-da6d702bab-3d55f31ec0.zip
  .yarn/cache/postcss-normalize-timing-functions-npm-6.0.0-4e94cabf50-67021374f8.zip
  .yarn/cache/postcss-normalize-unicode-npm-6.0.0-9a17b83395-0f246bf551.zip
  .yarn/cache/postcss-normalize-url-npm-6.0.0-63fff2c212-93160c02e5.zip
  .yarn/cache/postcss-normalize-whitespace-npm-6.0.0-dcc48a280d-77940955fb.zip
  .yarn/cache/postcss-ordered-values-npm-6.0.0-d93fb7fe2a-162d60e9fd.zip
  .yarn/cache/postcss-reduce-initial-npm-6.0.0-1e827757ee-988001da75.zip
  .yarn/cache/postcss-reduce-transforms-npm-6.0.0-50b61ca0b4-17c27b1858.zip
  .yarn/cache/postcss-svgo-npm-6.0.0-b0e8755bb0-14c68b7c27.zip
  .yarn/cache/postcss-unique-selectors-npm-6.0.0-cb2a8020fd-5fbfeaf796.zip
  .yarn/cache/stylehacks-npm-6.0.0-193a571eeb-b6071ab5f4.zip
  .yarn/cache/svgo-npm-3.0.2-c4a041dc0f-381ba14aa7.zip
  .yarn/cache/update-browserslist-db-npm-1.0.13-ea7b8ee24d-1e47d80182.zip
  build.css
  package.json
  postcss.config.js
  yarn.lock
Labels: Feature
