Repository gloddy-dev/gloddy-client, pull requests merged in 2023-09, with the labels that each got.

#324 Fix : QA 2차 반영
  src/components/Card/GroupingCard.client.tsx
  src/components/Footer/Footer.tsx
Labels: Fix

#326 Page : 피드백 페이지
  src/apis/groups/apis.ts
  src/apis/groups/keys.ts
  src/apis/groups/queries.ts
  src/apis/groups/type.ts
  src/app/(main)/meeting/participate/components/FeedbackContent.client.tsx
  src/app/(main)/meeting/participate/components/FeedbackModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackHeader.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackSection.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/MemberCard.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/NoShowModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/Step1.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/Step2.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/Step3.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/TitleSection.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/page.tsx
  src/components/Modal/Modal.client.tsx
  src/constants/dummyData.ts
Labels: Page

#329 Refactoring : 매칭 페이지 리팩토링
  .pnp.cjs
  .yarn/cache/b4a-npm-1.6.4-080bcba845-81b086f9af.zip
  .yarn/cache/base64-js-npm-1.5.1-b2f7275641-669632eb37.zip
  .yarn/cache/bl-npm-4.1.0-7f94cdcf3f-9e8521fa7e.zip
  .yarn/cache/buffer-npm-5.7.1-513ef8259e-e2cf8429e1.zip
  .yarn/cache/chownr-npm-1.1.4-5bd400ab08-115648f8eb.zip
  .yarn/cache/color-npm-4.2.3-4a23227581-0579629c02.zip
  .yarn/cache/color-string-npm-1.9.1-dc020e56be-c13fe7cff7.zip
  .yarn/cache/decompress-response-npm-6.0.0-359de2878c-d377cf47e0.zip
  .yarn/cache/deep-extend-npm-0.6.0-e182924219-7be7e5a8d4.zip
  .yarn/cache/detect-libc-npm-2.0.2-03afa59137-2b2cd3649b.zip
  .yarn/cache/expand-template-npm-2.0.3-80de959306-588c198472.zip
  .yarn/cache/fast-fifo-npm-1.3.2-391cc25df4-6bfcba3e4d.zip
  .yarn/cache/fs-constants-npm-1.0.0-59576b2177-18f5b71837.zip
  .yarn/cache/github-from-package-npm-0.0.0-519f80c9a1-14e448192a.zip
  .yarn/cache/ieee754-npm-1.2.1-fb63b3caeb-5144c0c981.zip
  .yarn/cache/ini-npm-1.3.8-fb5040b4c0-dfd98b0ca3.zip
  .yarn/cache/is-arrayish-npm-0.3.2-f856180f79-977e64f54d.zip
  .yarn/cache/mimic-response-npm-3.1.0-a4a24b4e96-25739fee32.zip
  .yarn/cache/mkdirp-classic-npm-0.5.3-3b5c991910-3f4e088208.zip
  .yarn/cache/napi-build-utils-npm-1.0.2-892e4bba56-06c14271ee.zip
  .yarn/cache/node-abi-npm-3.47.0-9d2a86a633-ff8498dcd4.zip
  .yarn/cache/node-addon-api-npm-6.1.0-634c545b39-3a539510e6.zip
  .yarn/cache/prebuild-install-npm-7.1.1-cb9fc9d341-dbf96d0146.zip
  .yarn/cache/queue-tick-npm-1.0.1-10bd6eaf3d-57c3292814.zip
  .yarn/cache/rc-npm-1.2.8-d6768ac936-2e26e052f8.zip
  .yarn/cache/sharp-npm-0.32.5-f82a9875e0-3cd6dc037c.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-4.0.1-fa2a97645d-e4132fd27c.zip
  .yarn/cache/simple-swizzle-npm-0.2.2-8dee37fad1-a7f3f2ab5c.zip
  .yarn/cache/streamx-npm-2.15.1-d5dbdeeb03-6f2b4fed68.zip
  .yarn/cache/strip-json-comments-npm-2.0.1-e7883b2d04-1074ccb632.zip
  .yarn/cache/tar-fs-npm-2.1.1-e374d3b7a2-f5b9a70059.zip
  .yarn/cache/tar-fs-npm-3.0.4-fa3da2e321-dcf4054f9e.zip
  .yarn/cache/tar-stream-npm-2.2.0-884c79b510-699831a8b9.zip
  .yarn/cache/tar-stream-npm-3.1.6-ce3ac17e49-f3627f9185.zip
  .yarn/cache/tunnel-agent-npm-0.6.0-64345ab7eb-05f6510358.zip
  package.json
  src/apis/groups/apis.ts
  src/app/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/ArticleList.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/ArticleSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/index.ts
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/[groupId]/page.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/grouping/components/CreateGroupButton.client.tsx
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/(main)/grouping/components/GroupingHeader.tsx
  src/app/(main)/grouping/page.tsx
  src/app/globals.css
  src/components/Card/GroupingCard.client.tsx
  src/components/List/ItemList.tsx
  src/components/List/index.ts
  yarn.lock
Labels: Refactoring

#333 Refactoring : 모임 개설 페이지 로직 수정 및 캘린더 구현
  public/icons/24/navigate-next.svg
  public/icons/24/navigate_before.svg
  public/icons/24/navigate_next.svg
  src/apis/groups/mutations.ts
  src/app/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MemberList.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MembersHeader.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MembersHeader.tsx
  src/app/(main)/grouping/[groupId]/members/page.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/page.tsx
  src/app/(main)/grouping/components/CreateGroupButton.client.tsx
  src/app/(main)/grouping/create/components/CreateGroupContext.tsx
  src/app/(main)/grouping/create/components/CreateHeader.client.tsx
  src/app/(main)/grouping/create/components/CreateHeader.tsx
  src/app/(main)/grouping/create/components/InputArea.server.tsx
  src/app/(main)/grouping/create/components/InputForm.client.tsx
  src/app/(main)/grouping/create/components/MaxUserBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/MeetingDateBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/inputSection/SubmitSection.tsx
  src/app/(main)/grouping/create/funnels/CreateGroupFunnel.client.tsx
  src/app/(main)/grouping/create/funnels/main/InputSection.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/SettingSection.client.tsx
  src/app/(main)/grouping/create/funnels/main/UploadSection.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/CalendarSection.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/MeetDateStep.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/TimeSection.client.tsx
  src/app/(main)/grouping/create/page.tsx
  src/app/(main)/grouping/create/type.ts
  src/app/(main)/grouping/create/util.ts
  src/app/globals.css
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/index.ts
  src/components/Modal/BottomSheet.tsx
  src/components/SpinBox/SpinBox.tsx
  src/components/SpinBox/index.ts
  src/components/common/Calendar/index.tsx
  src/hooks/useFunnel.tsx
Labels: Refactoring

#334 Refactorgin : QA 3차 반영
  public/icons/32/footer/meeting_selected.svg
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2.client.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2InputForm.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdayBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/components/Footer/Footer.tsx
  src/components/TextField/TextField.client.tsx
Labels: Feature

#332 Page : 회원 탈퇴 페이지
  src/app/(main)/profile/setting/components/LinkSection.server.tsx
  src/app/(main)/profile/setting/delete/components/DeleteHeader.tsx
  src/app/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/(main)/profile/setting/delete/components/DeleteProvider.client.tsx
  src/app/(main)/profile/setting/delete/components/DeleteSection.tsx
  src/app/(main)/profile/setting/delete/components/Step1.tsx
  src/app/(main)/profile/setting/delete/components/Step2.tsx
  src/app/(main)/profile/setting/delete/page.tsx
  src/app/(main)/profile/setting/delete/type.ts
Labels: Page

#340 Fix : QA 4차 반영
  src/app/(main)/profile/components/ProfileSection.client.tsx
  src/app/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/components/Card/GroupingCard.client.tsx
Labels: Fix

#339 Page : 서비스 이용약관 페이지 구현
  src/apis/profile/queries.ts
  src/app/(main)/profile/setting/information/components/InformationHeader.tsx
  src/app/(main)/profile/setting/service/components/Service.tsx
  src/app/(main)/profile/setting/service/components/ServiceHeader.tsx
  src/app/(main)/profile/setting/service/page.tsx
  src/constants/service.ts
Labels: Page

#337 Feature : 그루핑 페이지 무한 스크롤링 구현
  src/apis/groups/apis.ts
  src/apis/groups/queries.ts
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/hooks/useIntersect.ts
Labels: Feature

#344 Refactoring : 모임 개설 페이지의 위치 바텀시트 추가 및 입력 필드 모두 작성 시 눌리도록 변경
  src/app/(main)/grouping/create/components/CreateGroupContext.tsx
  src/app/(main)/grouping/create/components/CreateModal.client.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/LoctationItem.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/SettingSection.client.tsx
  src/app/(main)/grouping/create/type.ts
  src/app/globals.css
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Modal/Modal.client.tsx
Labels: Refactoring

#345 Page : Profile 상세페이지 dynamic 구현
  src/apis/profile/apis.ts
  src/apis/profile/keys.ts
  src/apis/profile/queries.ts
  src/app/(main)/profile/[userId]/components/ProfileByIdDetail.client.tsx
  src/app/(main)/profile/[userId]/components/ProfileByIdHeader.tsx
  src/app/(main)/profile/[userId]/page.tsx
  src/app/(main)/profile/components/ContentSection.client.tsx
  src/app/(main)/profile/components/IntroduceSection.client.tsx
  src/app/(main)/profile/components/ProfileDetail.client.tsx
  src/app/(main)/profile/components/ProfileDetailSection.tsx
  src/app/(main)/profile/components/ProfileSection.client.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/profile/setting/components/LinkSection.server.tsx
Labels: Page

#351 Refactoring : QA 중간 반영
  src/apis/groups/apis.ts
  src/apis/groups/mutations.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/TimeSection.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/ImageSection.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/grouping/components/DeleteModal.client.tsx
  src/app/(main)/grouping/create/components/CreateGroupContext.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/funnels/main/InputSection.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/UploadSection.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/MeetDateStep.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/TimeSection.client.tsx
  src/app/(main)/grouping/create/util.ts
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/components/Modal/MoreBottomSheet.client.tsx
  src/components/common/SwipePicker/TimeSwipePicker.tsx
  src/components/common/SwipePicker/index.ts
  src/constants/dummyData.ts
  src/hooks/useFileUpload.tsx
  src/types/index.ts
Labels: Refactoring

#350 Fix : QA 5차 반영
  src/apis/profile/mutations.ts
  src/app/(main)/meeting/participate/components/RejectModal.tsx
  src/app/(main)/meeting/participate/components/WaitingContent.client.tsx
  src/app/(main)/profile/setting/components/ProfileSection.client.tsx
  src/app/(main)/profile/setting/delete/components/DeleteCompleteModal.client.tsx
  src/app/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/(main)/profile/setting/delete/components/Step2.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/Modal/Modal.client.tsx
  src/utils/sendMessageToReactNative.ts
Labels: Fix

#347 Page : 404페이지
  src/app/(main)/meeting/participate/components/ParticipatingContent.client.tsx
  src/app/(main)/profile/components/ProfileDetailSection.tsx
  src/app/not-found.tsx
  src/components/Footer/Footer.tsx
Labels: Page

#354 Feature : 상호평가 상태 관리
  src/apis/groups/type.ts
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackFunnel.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackHeader.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackProvider.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/MemberCard.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/TitleSection.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step1/FeedbackOutModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step1/NoShowModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step1/Step1.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step2/Step2.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step3/FeedbackCompleteModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step3/Step3.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/page.tsx
  src/components/Indicator/IndicatorGroup.tsx
  src/components/Indicator/index.ts
  src/constants/dummyData.ts
Labels: Feature

#358 Feature : Loading컴포넌트
  src/app/(main)/grouping/page.tsx
  src/app/(main)/profile/page.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/layout.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/components/common/ImageFrame/index.tsx
  src/style/theme/animations.ts
  tailwind.config.js
Labels: Feature

#359 Fix : CI 이슈 해결
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: Fix

#357 Fix : Modal issue 해결
  src/components/Modal/Modal.client.tsx
  src/components/Modal/Toast.client.tsx
  src/hooks/useModal/ModalProvider.tsx
  src/hooks/useModal/useModal.tsx
Labels: Fix

#360 Refactoring : QA 적용
  src/apis/groups/apis.ts
  src/apis/groups/mutations.tsx
  src/apis/groups/queries.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleHeader.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentForm.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageHeader.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/grouping/components/WarningModal.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/hooks/useMoreSheet.tsx
  src/components/Card/CardHeader.client.tsx
  src/components/Card/index.ts
  src/components/Modal/BottomSheet.client.tsx
  src/components/Modal/MoreBottomSheet.client.tsx
  src/components/Modal/index.ts
  src/components/common/SwipePicker/NumberSwipePicker.tsx
Labels: Refactoring

#365 Feature : 탭 애니메이션 및 페이지 애니메이션 구현
  src/app/(main)/grouping/[groupId]/page.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteHeader.client.tsx
  src/app/(main)/grouping/[groupId]/write/page.tsx
  src/app/(main)/grouping/create/page.tsx
  src/app/(main)/grouping/page.tsx
  src/app/(main)/profile/components/ProfileDetail.client.tsx
  src/app/(main)/profile/page.tsx
  src/components/PageAnimation/PageAnimation.client.tsx
  src/components/PageAnimation/index.ts
  src/components/Tabs/Tabs.client.tsx
Labels: Feature

#370 Refactoring : 댓글 입력 시 모션 추가, 헤더의 액션 분리
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleHeader.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentForm.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/page.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/members/page.tsx
  src/app/(main)/grouping/[groupId]/page.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/page.tsx
  src/app/(main)/grouping/components/BlockDoneModal.client.tsx
  src/app/(main)/grouping/components/ReportDoneModal.client.tsx
  src/app/(main)/grouping/hooks/useMoreSheet.tsx
  src/app/(main)/grouping/page.tsx
  src/components/PageAnimation/PageAnimation.client.tsx
  src/components/TextField/SearchTextField.client.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
  src/components/common/Provider/HydrationProvider.tsx
Labels: Refactoring

#367 Fix : QA 6차 반영
  src/apis/auth/mutations.ts
  src/apis/config/privateApi.ts
  src/apis/groups/mutations.tsx
  src/app/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MemberList.client.tsx
  src/app/(main)/profile/components/ProfileDetailSection.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/profile/setting/components/ProfileSection.client.tsx
  src/app/layout.tsx
  src/components/Footer/Footer.tsx
  src/components/TextField/TextField.client.tsx
  src/components/common/Provider/QueryProvider.client.tsx
  src/middleware.ts
  src/utils/auth/tokenController.ts
  src/utils/date.ts
  tailwind.config.js
Labels: Fix

#372 Fix : BottomSheet 애니메이션 가능하도록 로직 수정
  src/app/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteHeader.client.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/SettingSection.client.tsx
  src/app/(main)/grouping/hooks/useMoreSheet.tsx
  src/app/(main)/meeting/participate/components/FeedbackContent.client.tsx
  src/app/(main)/meeting/participate/components/WaitingContent.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/components/FeedbackHeader.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step1/FeedbackOutModal.client.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step1/Step1.tsx
  src/app/(main)/meeting/participate/feedback/[groupId]/funnels/step3/Step3.tsx
  src/app/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/(main)/profile/mates/components/MoreBottomSheet.client.tsx
  src/app/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/(main)/profile/setting/delete/components/Step2.tsx
  src/app/(main)/profile/setting/edit/components/step1/BirthdayBottomSheet.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(sub)/join/funnels/step2/Step2Component.client.tsx
  src/app/(sub)/join/funnels/step2/components/AgreeBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/VerifyBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdayBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/layout.tsx
  src/components/Modal/BottomSheet.client.tsx
  src/components/Modal/MoreBottomSheet.client.tsx
  src/components/Modal/Toast.client.tsx
  src/components/common/Provider/QueryProvider.client.tsx
  src/hooks/useModal/ModalController.tsx
  src/hooks/useModal/ModalProvider.tsx
  src/hooks/useModal/type.ts
  src/hooks/useModal/useModal.tsx
Labels: Fix

#371 Refactoring : QA-3
  .pnp.cjs
  .yarn/cache/boolbase-npm-1.0.0-965fe9af6d-3e25c80ef6.zip
  .yarn/cache/critters-npm-0.0.20-2928776d99-402b9a2cf6.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-2772c049b1.zip
  .yarn/cache/css-what-npm-6.1.0-57f751efbb-b975e547e1.zip
  .yarn/cache/dom-serializer-npm-2.0.0-378ebc7200-cd1810544f.zip
  .yarn/cache/domelementtype-npm-2.3.0-02de7cbfba-ee837a318f.zip
  .yarn/cache/domhandler-npm-5.0.3-3ede73dc10-0f58f4a6af.zip
  .yarn/cache/domutils-npm-3.1.0-66c92ef7eb-e5757456dd.zip
  .yarn/cache/htmlparser2-npm-8.0.2-5d9f901bb6-29167a0f92.zip
  .yarn/cache/nth-check-npm-2.1.1-f97afc8169-5afc3dafcd.zip
  .yarn/cache/pretty-bytes-npm-5.6.0-0061079c9f-9c082500d1.zip
  next.config.js
  package.json
  src/app/(main)/meeting/participate/page.tsx
  yarn.lock
Labels: Refactoring

#381 Refactoring : QA반영
  .pnp.cjs
  .yarn/cache/critters-npm-0.0.20-2928776d99-402b9a2cf6.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-2772c049b1.zip
  .yarn/cache/dom-serializer-npm-2.0.0-378ebc7200-cd1810544f.zip
  .yarn/cache/domhandler-npm-5.0.3-3ede73dc10-0f58f4a6af.zip
  .yarn/cache/domutils-npm-3.1.0-66c92ef7eb-e5757456dd.zip
  .yarn/cache/htmlparser2-npm-8.0.2-5d9f901bb6-29167a0f92.zip
  .yarn/cache/pretty-bytes-npm-5.6.0-0061079c9f-9c082500d1.zip
  next.config.js
  package.json
  src/app/(main)/grouping/create/funnels/main/UploadSection.client.tsx
  src/app/(sub)/join/funnels/step2/Step2Component.client.tsx
  yarn.lock
Labels: Refactoring

#387 Fix : QA 7차 반영
  src/hooks/useModal/useModal.tsx
Labels: Fix

#386 Feature : 찜한 모임 api
  public/sprite/icons/24-bookmark_filled.svg
  public/sprite/icons/24-bookmark_outline.svg
  public/sprite/icons/24-scrap_filled.svg
  public/sprite/icons/24-scrap_fixed.svg
  public/sprite/icons/24-scrap_outline.svg
  public/sprite/sprite.svg
  src/apis/groups/mutations.tsx
  src/apis/meeting/apis.ts
  src/apis/meeting/keys.ts
  src/apis/meeting/queries.ts
  src/apis/meeting/type.ts
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/meeting/bookmark/components/ContentSection.client.tsx
  src/app/(main)/meeting/bookmark/page.tsx
  src/app/(main)/meeting/participate/components/MeetingParticipateHeader.tsx
  src/app/(main)/meeting/scrap/components/ContentSection.client.tsx
  src/app/(main)/meeting/scrap/components/MeetingScrapHeader.tsx
  src/app/(main)/meeting/scrap/page.tsx
  src/components/Button/IconButton.tsx
  src/components/Card/GroupingCard.client.tsx
Labels: Feature

#388 Refactoring : 프로필 api 수정된 타입에 맞게 변경
  public/sprite/icons/16-reliability-gloddy.svg
  public/sprite/icons/16-reliability-hood.svg
  public/sprite/icons/16-reliability-mate.svg
  public/sprite/icons/16-reliability-soulmate.svg
  public/sprite/icons/32-error.svg
  public/sprite/sprite.svg
  src/apis/groups/type.ts
  src/apis/profile/queries.ts
  src/apis/profile/type.ts
  src/app/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/(main)/profile/[userId]/components/ProfileByIdDetail.client.tsx
  src/app/(main)/profile/[userId]/components/ProfileByIdHeader.tsx
  src/app/(main)/profile/[userId]/page.tsx
  src/app/(main)/profile/components/ProfileDetail.client.tsx
  src/app/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/profile/setting/components/ProfileSection.client.tsx
  src/app/(main)/profile/setting/edit/components/ProfileEdit.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2.client.tsx
  src/app/(main)/profile/setting/information/page.tsx
  src/app/(main)/profile/setting/page.tsx
  src/app/(main)/profile/setting/service/page.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Card/CardHeader.client.tsx
Labels: Refactoring

#382 Feature : 닉네임 중복 체크
  src/apis/auth/apis.ts
  src/apis/auth/keys.ts
  src/apis/auth/queries.ts
  src/apis/auth/type.ts
  src/app/(sub)/join/funnels/step2/components/SchoolForm.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Layout/Flex.tsx
  src/components/TextField/TextField.client.tsx
  src/constants/regexr.ts
Labels: Feature

#391 Feature : ImageModal 구현
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/components/Modal/ImageModal.client.tsx
  src/components/Modal/ModalWrapper.client.tsx
  src/components/Modal/index.ts
Labels: Feature

#396 Feature: 구글 맵 연결
  .eslintrc.js
  .pnp.cjs
  .yarn/cache/@googlemaps-js-api-loader-npm-1.16.2-361944bb39-122ee57cc6.zip
  .yarn/cache/@googlemaps-markerclusterer-npm-2.3.2-926117b4cc-44a542d179.zip
  .yarn/cache/@react-google-maps-api-npm-2.19.2-45451c3785-07ba34939e.zip
  .yarn/cache/@react-google-maps-infobox-npm-2.19.2-222f6d8f4b-e2022d8579.zip
  .yarn/cache/@react-google-maps-marker-clusterer-npm-2.19.2-8cc7e8b8f3-fde23240ae.zip
  .yarn/cache/@types-google.maps-npm-3.53.5-14e369004b-57862d6143.zip
  .yarn/cache/@types-google.maps-npm-3.54.0-55351c3eb2-8df82c6ca9.zip
  .yarn/cache/invariant-npm-2.2.4-717fbdb119-cc3182d793.zip
  .yarn/cache/kakao.maps.d.ts-npm-0.1.38-03eb4dd220-4033de2f1a.zip
  .yarn/cache/kdbush-npm-4.0.2-e4894ed9f4-6782ef2cda.zip
  .yarn/cache/react-kakao-maps-sdk-npm-1.1.11-fc7e7a4299-564847d023.zip
  .yarn/cache/supercluster-npm-8.0.1-32b2d8d364-39d141f768.zip
  package.json
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/create/components/CreateGroupContext.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/LoctationItem.client.tsx
  src/app/(main)/grouping/create/funnels/CreateGroupFunnel.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/SettingSection.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/CalendarSection.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/MeetDateStep.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/TimeSection.client.tsx
  src/app/(main)/grouping/create/page.tsx
  src/app/(main)/grouping/create/type.ts
  src/constants/dummyData.ts
  src/constants/index.ts
  tsconfig.json
  yarn.lock
Labels: Feature

#397 Refactoring : QA 1차 반영
  .pnp.cjs
  .yarn/cache/@types-lodash-npm-4.14.198-92ef32a77d-b290e44807.zip
  package.json
  public/sprite/icons/24-application_notification.svg
  public/sprite/sprite.svg
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/ImageSection.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteModal.tsx
  src/app/(main)/grouping/create/components/CreateModal.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/main/UploadSection.client.tsx
  src/app/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Button/Button.tsx
  src/components/Calendar/Calendar.tsx
  src/components/Modal/Modal.client.tsx
  src/constants/dummyData.ts
  src/hooks/useFileUpload.tsx
  yarn.lock
Labels: Refactoring

#405 Feature : 생년월일 디자인에 맞게 수정
  src/apis/profile/queries.ts
  src/app/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/BirthdayBottomSheet.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(main)/profile/setting/edit/type.ts
  src/app/(main)/profile/setting/edit/util.ts
  src/app/(sub)/join/components/JoinContext.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdayBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step4/util.ts
  src/app/(sub)/join/type.ts
  src/components/Modal/BottomSheet.client.tsx
  src/components/Modal/index.ts
  src/constants/regexr.ts
  src/utils/formatDateDTO.ts
Labels: Feature

#406 Refactoring : QA 최종 반영
  .pnp.cjs
  .yarn/cache/react-simple-pull-to-refresh-npm-1.3.3-b0ec4063f6-8b04ec1ccf.zip
  package.json
  src/apis/groups/apis.ts
  src/apis/groups/mutations.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteModal.tsx
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/(main)/grouping/create/components/CreateModal.client.tsx
  src/app/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/(main)/grouping/create/funnels/meetDate/CalendarSection.client.tsx
  src/components/Button/Button.tsx
  src/components/Loading/LayerLoading.client.tsx
  src/components/Loading/index.ts
  src/components/Modal/Modal.client.tsx
  src/components/Modal/ModalWrapper.client.tsx
  yarn.lock
Labels: Refactoring

#411 Refactoring : QA - 차단/신고 처리
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/page.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/ArticleSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeSection.client.tsx
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/(main)/grouping/hooks/useMoreSheet.tsx
  src/app/(main)/meeting/participate/components/RejectModal.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Button/ButtonGroup.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/Icon/Icon.tsx
  src/components/List/ItemList.tsx
  src/store/useBlockStore.ts
Labels: Refactoring

#413 Fix : QA 11차 반영
  src/apis/config/privateApi.ts
  src/apis/profile/mutations.ts
  src/app/(main)/profile/mates/components/MatesDeleteModal.client.tsx
  src/components/Calendar/Calendar.tsx
  src/components/Provider/QueryProviderWrapModal.client.tsx
  src/constants/errorCode.ts
Labels: Fix

#415 Refactoring
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentForm.tsx
  src/app/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/globals.css
  src/app/template.tsx
  src/components/BottomFixedDiv/BottomFixedDiv.server.tsx
  src/components/BottomFixedDiv/index.ts
  src/components/Button/ButtonGroup.tsx
  src/components/Modal/ModalWrapper.client.tsx
  src/components/Modal/Toast.client.tsx
  src/components/PageAnimation/PageAnimation.client.tsx
  src/components/Provider/QueryProvider.client.tsx
  src/constants/index.ts
  src/constants/motions.ts
  src/hooks/useSentry.ts
  src/style/theme/animation.ts
  src/style/theme/fontSize.ts
  src/style/theme/index.ts
  src/style/theme/keyframes.ts
  src/utils/cn.ts
  tailwind.config.js
Labels: Refactoring

#416 Refactoring : QA 반영
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/funnels/main/SettingSection.client.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/template.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/Map/InitMap.client.tsx
  src/components/Map/index.ts
  src/hooks/useDisableScrollBounce.ts
  src/hooks/usePlaceDetails.tsx
  src/middleware.ts
  src/style/tailwindSSR.css
  src/types/global.d.ts
Labels: Refactoring

#422 Fix: 빌드 에러 해결을 위해 tailwindcss 주입 코드 임시 제거
  src/app/[lng]/layout.tsx
  src/app/[lng]/tailwindSSR.css
  src/components/Icon/Icon.tsx
Labels: Fix

#424 Feature : 이메일 인증 번호 api | 이슈 해결
  .pnp.cjs
  .yarn/cache/react-intersection-observer-npm-9.5.2-2c006290a0-cdbe405449.zip
  package.json
  src/apis/meeting/apis.ts
  src/apis/meeting/mutations.ts
  src/apis/profile/apis.ts
  src/apis/profile/mutations.ts
  src/apis/profile/queries.ts
  src/app/[lng]/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/[lng]/(main)/meeting/participate/components/RejectModal.tsx
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/[lng]/(main)/profile/verify/components/VerifyBottomSheet.client.tsx
  yarn.lock
Labels: Feature

#419 Feature : GA 세팅
  src/app/[lng]/layout.tsx
  src/components/Analytics/GoogleAnalytics.client.tsx
  src/components/Analytics/index.ts
  src/constants/index.ts
  src/types/global.d.ts
  src/utils/gtag.ts
Labels: Feature

#429 Feature : login 페이지 자동 로그인으로 구현
  src/app/[lng]/(sub)/join/page.tsx
  src/app/[lng]/(sub)/login/Login.tsx
  src/app/[lng]/(sub)/login/page.tsx
  src/app/[lng]/(sub)/token/Token.tsx
  src/app/[lng]/(sub)/token/page.tsx
Labels: Feature

#435 Feature : 나의 모임 페이지 번역
  src/app/[lng]/(main)/grouping/page.tsx
  src/app/[lng]/(main)/meeting/participate/components/ContentSection.client.tsx
  src/app/[lng]/(main)/meeting/participate/components/FeedbackContent.client.tsx
  src/app/[lng]/(main)/meeting/participate/components/FeedbackModal.client.tsx
  src/app/[lng]/(main)/meeting/participate/components/MeetingParticipateHeader.tsx
  src/app/[lng]/(main)/meeting/participate/components/ParticipatingContent.client.tsx
  src/app/[lng]/(main)/meeting/participate/components/RejectModal.tsx
  src/app/[lng]/(main)/meeting/participate/components/WaitingContent.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/components/FeedbackFunnel.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step1/FeedbackOutModal.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step2/Step2.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step3/FeedbackCompleteModal.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step3/Step3.tsx
  src/app/[lng]/(main)/meeting/participate/page.tsx
  src/app/[lng]/(main)/meeting/scrap/components/ContentSection.client.tsx
  src/app/[lng]/(main)/meeting/scrap/components/MeetingScrapHeader.tsx
  src/app/[lng]/(main)/profile/page.tsx
  src/app/i18n/locales/en/common.json
  src/app/i18n/locales/en/meeting.json
  src/app/i18n/locales/ko/common.json
  src/app/i18n/locales/ko/meeting.json
  src/components/Footer/Footer.server.tsx
  src/components/Footer/index.ts
Labels: Feature

#433 Feature : profile 페이지 번역
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/[lng]/(main)/profile/setting/components/LinkSection.server.tsx
  src/app/[lng]/(main)/profile/setting/components/SettingHeader.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteCompleteModal.client.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteHeader.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/Step2.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1Header.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/[lng]/(main)/profile/setting/information/components/InformationHeader.tsx
  src/app/[lng]/(main)/profile/setting/page.tsx
  src/app/[lng]/(main)/profile/setting/service/components/ServiceHeader.tsx
  src/app/[lng]/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/[lng]/(sub)/login/Login.tsx
  src/app/i18n/locales/en/common.json
  src/app/i18n/locales/en/profile.json
  src/app/i18n/locales/ko/common.json
  src/app/i18n/locales/ko/profile.json
  src/components/SwipePicker/GenderSwipePicker.tsx
  src/components/SwipePicker/index.ts
Labels: Feature

#440 Feature : 모임 상세 페이지 다국어 추가
  src/app/[lng]/(main)/grouping/[groupId]/apply/components/ApplyHeader.tsx
  src/app/[lng]/(main)/grouping/[groupId]/apply/components/ApplyModal.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/apply/page.tsx
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleDetail.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleHeader.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/CommentForm.tsx
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/GroupDetailHeader.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/NoticeSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/TimeSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/manage/components/ManageDetail.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/manage/components/ManageHeader.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/manage/components/ManageModal.tsx
  src/app/[lng]/(main)/grouping/[groupId]/members/components/MembersHeader.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/write/components/WriteHeader.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/write/components/WriteModal.tsx
  src/app/[lng]/(main)/grouping/components/ArticleItem.client.tsx
  src/app/[lng]/(main)/grouping/components/BlockDoneModal.client.tsx
  src/app/[lng]/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/[lng]/(main)/grouping/components/ReportDoneModal.client.tsx
  src/app/[lng]/(main)/grouping/components/WarningModal.client.tsx
  src/app/[lng]/(main)/grouping/hooks/useMoreSheet.tsx
  src/app/i18n/locales/en/common.json
  src/app/i18n/locales/en/groupDetail.json
  src/app/i18n/locales/ko/common.json
  src/app/i18n/locales/ko/groupDetail.json
  src/components/Modal/Modal.client.tsx
Labels: Feature

#441 Feature : place id로 모임장소의 이름 및 주소를 가져오도록 변경
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/util.ts
  src/app/[lng]/(sub)/join/funnels/step2/components/AgreeBottomSheet.client.tsx
  src/components/Card/GroupingCard.client.tsx
  src/hooks/usePlaceDetails.tsx
Labels: Feature

#442 Feature : 태그 번역
  src/apis/profile/type.ts
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/[lng]/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/[lng]/(main)/profile/praise/components/ProfilePraiseDetail.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step2/Step2.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step2/Step2Header.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step2/Step2InputForm.client.tsx
  src/app/[lng]/(sub)/join/funnels/step5/Step5Component.client.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/[lng]/(sub)/join/type.ts
  src/app/i18n/locales/en/common.json
  src/app/i18n/locales/en/meeting.json
  src/app/i18n/locales/en/profile.json
  src/app/i18n/locales/ko/common.json
  src/app/i18n/locales/ko/meeting.json
  src/app/i18n/locales/ko/profile.json
  src/components/Card/GroupingCard.client.tsx
  src/constants/personalityList.ts
  src/types/index.ts
Labels: Feature

#445 Feature : 이모지 추가
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step2/Step2InputForm.client.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/components/Card/GroupingCard.client.tsx
Labels: Feature

#447 Fix : 무한 요청 이슈 fix
  src/apis/groups/apis.ts
  src/apis/groups/keys.ts
  src/apis/groups/mutations.tsx
  src/apis/groups/queries.ts
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/GroupDetail.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/ArticleSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/ArticlesContent.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/NoticeSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/index.ts
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/DetailContent.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/TimeSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/index.ts
  src/app/[lng]/(main)/grouping/[groupId]/page.tsx
  src/app/[lng]/(main)/meeting/participate/components/ContentSection.client.tsx
  src/app/[lng]/(main)/meeting/participate/page.tsx
  src/app/[lng]/(main)/meeting/scrap/components/ContentSection.client.tsx
  src/app/[lng]/(main)/profile/setting/page.tsx
  src/components/List/ItemList.tsx
  src/components/Provider/HydrationProvider.tsx
Labels: Fix

#449 [Feature] 언어 변경
  src/app/[lng]/(main)/profile/setting/components/LinkSection.server.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteCompleteModal.client.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/Step1.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/Step2.tsx
  src/app/[lng]/(main)/profile/setting/langauge/components/Language.tsx
  src/app/[lng]/(main)/profile/setting/langauge/components/LanguageHeader.tsx
  src/app/[lng]/(main)/profile/setting/langauge/page.tsx
  src/app/i18n/client.ts
  src/app/i18n/locales/en/profile.json
  src/app/i18n/locales/ko/profile.json
  src/app/i18n/settings.ts
  src/middleware.ts
Labels: Feature

#451 Fix : 배포 전 마지막 이슈 해결
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step1/Step1.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step2/Step2.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/[groupId]/funnels/step3/Step3.tsx
  src/app/[lng]/(main)/meeting/participate/feedback/constants.ts
  src/app/[lng]/(main)/meeting/participate/feedback/util.ts
  src/app/[lng]/(main)/profile/mates/components/MatesHeader.client.tsx
  src/app/[lng]/(main)/profile/mates/page.tsx
  src/app/[lng]/(main)/profile/praise/components/PraiseHeader.client.tsx
  src/app/[lng]/(main)/profile/praise/page.tsx
  src/app/[lng]/(main)/profile/setting/components/SettingHeader.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1Header.client.tsx
  src/app/[lng]/(main)/profile/setting/page.tsx
  src/app/i18n/locales/en/common.json
  src/app/i18n/locales/en/meeting.json
  src/app/i18n/locales/ko/common.json
Labels: Fix

#458 Feature/457 issues
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/[lng]/page.tsx
  src/components/Provider/QueryProvider.client.tsx
  src/middleware.ts
  src/utils/cookieController.ts
Labels: Feature

#462 Feature : 회원탈퇴 api
  src/apis/profile/apis.ts
  src/apis/profile/mutations.ts
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/[lng]/(main)/profile/setting/delete/components/DeleteModal.client.tsx
  src/app/[lng]/page.tsx
Labels: Feature

#470 Feature/469-fix-redirect
  src/apis/auth/mutations.ts
  src/app/[lng]/(main)/grouping/[groupId]/components/articles/NoticeItem.client.tsx
  src/app/[lng]/(main)/profile/setting/langauge/components/Language.tsx
  src/app/[lng]/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/app/[lng]/(sub)/login/Login.tsx
  src/app/[lng]/page.tsx
  src/app/i18n/client.ts
  src/app/i18n/settings.ts
  src/middleware.ts
  src/utils/auth/tokenController.ts
Labels: Feature

#473 [Feature] 이용 약관 로그인 없이 접속
  src/middleware.ts
Labels: Feature
