Repository gloddy-dev/gloddy-client, pull requests merged in 2023-08, with the labels that each got.

#151 Featuring : create-group, grouping api 구현
  apis/groups/type.ts
  app/grouping/components/GroupingCardList.client.tsx
  app/grouping/create/components/inputSection/SubmitSection.tsx
  app/grouping/create/type.ts
  app/grouping/page.tsx
  app/join/funnels/step5/components/InputForm.client.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  constants/dummyData.ts
  types/index.ts
Labels: Featuring

#152 Featuring : 지도 API 구현
  app/grouping/[id]/components/detail/LocationSection.server.tsx
Labels: Featuring

#153 Refactoring : 회원가입 페이지 에러 핸들링
  apis/config/publicApi.ts
  app/join/funnels/step1/components/NumberVerifyForm.client.tsx
  app/join/funnels/step3/components/CertificationForm.client.tsx
  app/join/funnels/step3/type.ts
  app/join/funnels/step4/components/InputForm.client.tsx
  app/join/funnels/step4/components/NicknameSection.client.tsx
  app/join/funnels/step5/components/InputForm.client.tsx
  app/join/funnels/step5/components/PersonalityItem.server.tsx
  app/join/type.ts
  components/common/Input/Input.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/GenderSwipePicker.tsx
  constants/regexr.ts
Labels: Refactoring

#157 Refactoring : GitHub action 리팩토링
  .github/workflows/auto-milestones.yml
  .github/workflows/auto-publishing-develop.yml
  .github/workflows/auto-publishing-feature.yml
  app/grouping/create/components/CreateGroupContext.tsx
  app/grouping/create/components/inputSection/ImageSection.client.tsx
  app/grouping/create/type.ts
  build.sh
Labels: Refactoring

#158 Fix : Did you mean './debug?' 에러 해결
  .pnp.cjs
  .yarn/cache/supports-color-npm-8.1.1-289e937149-c052193a7e.zip
  .yarnrc.yml
  next.config.js
  package.json
  yarn.lock
Labels: Fix

#156 Setting : Eslint, Prettier Github Action 자동화
  .eslintrc.js
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/trouble-shooting.md
  .github/pull_request_template.md
  .github/workflows/auto-milestones.yml
  .github/workflows/check-eslint-prettier.yml
  .pnp.cjs
  .pnp.loader.mjs
  .prettierrc.js
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  app/api/hello/route.ts
  app/error.tsx
  app/grouping/[id]/components/detail/LocationSection.client.tsx
  app/grouping/create/components/inputSection/LocationSection.client.tsx
  app/join/funnels/step2/components/InputForm.client.tsx
  app/join/funnels/step4/components/InputForm.client.tsx
  app/login/page.tsx
  app/onboarding/page.tsx
  package.json
  postcss.config.js
  tailwind.config.js
Labels: Setting

#161 [Page] : 게시글 상세 페이지 구현
  apis/groups/apis.ts
  apis/groups/keys.ts
  apis/groups/queries.ts
  apis/groups/type.ts
  app/grouping/[groupId]/apply/components/ApplyTopNavigationBar.tsx
  app/grouping/[groupId]/apply/components/InputForm.client.tsx
  app/grouping/[groupId]/apply/page.tsx
  app/grouping/[groupId]/board/[boardId]/components/BoardDetail.client.tsx
  app/grouping/[groupId]/board/[boardId]/components/BoardTopNavigationBar.client.tsx
  app/grouping/[groupId]/board/[boardId]/components/CommentList.client.tsx
  app/grouping/[groupId]/board/[boardId]/components/WriteSection.client.tsx
  app/grouping/[groupId]/board/[boardId]/page.tsx
  app/grouping/[groupId]/components/ContentSection.client.tsx
  app/grouping/[groupId]/components/GroupingDetail.client.tsx
  app/grouping/[groupId]/components/GroupingTopNavigationBar.client.tsx
  app/grouping/[groupId]/components/TopSection.client.tsx
  app/grouping/[groupId]/components/board/ArticleList.client.tsx
  app/grouping/[groupId]/components/board/BoardContent.client.tsx
  app/grouping/[groupId]/components/board/Notice.client.tsx
  app/grouping/[groupId]/components/detail/DetailContent.client.tsx
  app/grouping/[groupId]/components/detail/LocationSection.client.tsx
  app/grouping/[groupId]/components/detail/Member.client.tsx
  app/grouping/[groupId]/components/detail/MemberSection.client.tsx
  app/grouping/[groupId]/components/detail/TimeSection.client.tsx
  app/grouping/[groupId]/feedback/FeedbackContext.tsx
  app/grouping/[groupId]/feedback/components/FeedbackFunnel.tsx
  app/grouping/[groupId]/feedback/components/FeedbackTopNavigationBar.tsx
  app/grouping/[groupId]/feedback/components/mate/MateCard.tsx
  app/grouping/[groupId]/feedback/components/mate/MateCardList.tsx
  app/grouping/[groupId]/feedback/components/mate/MateComponent.tsx
  app/grouping/[groupId]/feedback/components/praise/PraiseCard.tsx
  app/grouping/[groupId]/feedback/components/praise/PraiseCardList.tsx
  app/grouping/[groupId]/feedback/components/praise/PraiseComponent.tsx
  app/grouping/[groupId]/feedback/page.tsx
  app/grouping/[groupId]/feedback/type.ts
  app/grouping/[groupId]/members/components/MemberItem.client.tsx
  app/grouping/[groupId]/members/components/MemberList.client.tsx
  app/grouping/[groupId]/members/components/MembersTopNavigationBar.client.tsx
  app/grouping/[groupId]/members/page.tsx
  app/grouping/[groupId]/page.tsx
  app/grouping/[groupId]/type.ts
  app/grouping/[groupId]/write/WriteContext.tsx
  app/grouping/[groupId]/write/components/InputForm.tsx
  app/grouping/[groupId]/write/components/WriteTopNavigationBar.tsx
  app/grouping/[groupId]/write/page.tsx
  app/grouping/[id]/components/board/ArticleCardList.client.tsx
  app/grouping/[id]/page.tsx
  app/grouping/components/ArticleItem.client.tsx
  components/common/BottomFixedDiv/index.tsx
  components/common/Button/Button.tsx
  components/common/ErrorBoundary/RejectedFallback.tsx
  components/common/ErrorBoundary/index.ts
  components/common/Spacing/Spacing.tsx
  constants/dummyData.ts
  public/assets/comment_gray.svg
  public/assets/comment_white.svg
Labels: Page

#163 Page : 칭찬 페이지, 모임 후기 페이지 퍼블리싱 & API 연결
  .gitignore
  apis/profile/apis.ts
  apis/profile/keys.ts
  apis/profile/queries.ts
  apis/profile/type.ts
  app/profile/components/ProfileDetail.client.tsx
  app/profile/components/ProfileSection.client.tsx
  app/profile/components/ProfileTopNavigationBar.client.tsx
  app/profile/mates/components/ProfileMatesDetail.client.tsx
  app/profile/mates/components/ProfileMatesTopNavigationBar.client.tsx
  app/profile/mates/page.tsx
  app/profile/mates/util.ts
  app/profile/page.tsx
  app/profile/praise/components/ProfilePraiseDetail.client.tsx
  app/profile/praise/components/ProfilePraiseTopNavigationBar.client.tsx
  app/profile/praise/page.tsx
  constants/dummyData.ts
Labels: Page

#162 Featuring : 토큰 재발급 구현
  .gitignore
  apis/auth/apis.ts
  apis/config/baseFetch.ts
  apis/config/privateApi.ts
  apis/profile/apis.ts
  apis/profile/keys.ts
  apis/profile/queries.ts
  apis/profile/type.ts
  app/page.tsx
  app/profile/components/ProfileDetail.client.tsx
  app/profile/components/ProfileSection.client.tsx
  app/profile/components/ProfileTopNavigationBar.client.tsx
  app/profile/mates/components/ProfileMatesDetail.client.tsx
  app/profile/mates/components/ProfileMatesTopNavigationBar.client.tsx
  app/profile/mates/page.tsx
  app/profile/mates/util.ts
  app/profile/page.tsx
  app/profile/praise/components/ProfilePraiseDetail.client.tsx
  app/profile/praise/components/ProfilePraiseTopNavigationBar.client.tsx
  app/profile/praise/page.tsx
  constants/dummyData.ts
  constants/errorCode.ts
  middleware.ts
Labels: Featuring

#164 Fix : 빠진 괄호 추가
  constants/dummyData.ts
Labels: Fix

#170 Refactoring : 회원가입 페이지 포맷팅 이슈 해결
  app/grouping/[groupId]/components/detail/LocationSection.client.tsx
  app/grouping/components/GroupingCard.client.tsx
  app/grouping/page.tsx
  app/join/funnels/step1/components/NumberForm.client.tsx
  app/join/funnels/step1/components/NumberVerifyForm.client.tsx
  app/join/funnels/step3/components/CertificationForm.client.tsx
  app/join/funnels/step5/components/InputForm.client.tsx
  app/join/funnels/step5/util.ts
  app/layout.tsx
Labels: Refactoring

#172 Setting : CI 구축
  .github/codeql/codeql-config.yml
  .github/workflows/check-eslint-prettier.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: Setting

#174 Featuring : typography 설정
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/trouble-shooting.md
  .github/release-drafter.yml
  app/globals.css
  babel.config.js
  style/theme/fontSizes.ts
  style/theme/index.ts
  tailwind.config.js
Labels: Featuring

#183 Feature : icons 추가
  src/app/grouping/components/FloatingBubbleSection.server.tsx
  src/app/join/funnels/step1/Step1Component.server.tsx
  src/public/icons/24/add.svg
  src/public/icons/24/arrow_back.svg
  src/public/icons/24/arrow_down.svg
  src/public/icons/24/backspace.svg
  src/public/icons/24/bookmark_filled.svg
  src/public/icons/24/bookmark_outline.svg
  src/public/icons/24/chat.svg
  src/public/icons/24/check.svg
  src/public/icons/24/close.svg
  src/public/icons/24/copy.svg
  src/public/icons/24/delete_menu.svg
  src/public/icons/24/delete_mode.svg
  src/public/icons/24/draft_orders.svg
  src/public/icons/24/education.svg
  src/public/icons/24/error.svg
  src/public/icons/24/favorite.svg
  src/public/icons/24/forum.svg
  src/public/icons/24/info.svg
  src/public/icons/24/location_on.svg
  src/public/icons/24/more.svg
  src/public/icons/24/navigate-next.svg
  src/public/icons/24/search.svg
  src/public/icons/24/settings.svg
  src/public/icons/24/thumb_up.svg
  src/public/icons/24/warning.svg
Labels: Good Review

#184 Setting : CI 구축 (RE)
  .github/codeql/codeql-config.yml
  .github/workflows/check-eslint-prettier.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .pnp.cjs
  .yarn/cache/@rollup-plugin-commonjs-npm-24.0.0-b18d79acac-e2a1bf295b.zip
  .yarn/cache/@rollup-pluginutils-npm-5.0.2-6aa9d0ddd4-edea15e543.zip
  .yarn/cache/@sentry-browser-npm-7.62.0-6552542cc9-1b19e56d76.zip
  .yarn/cache/@sentry-cli-npm-1.75.2-bc4184e111-a0f29b2766.zip
  .yarn/cache/@sentry-cli-npm-2.20.4-e80f0b641d-e565866b31.zip
  .yarn/cache/@sentry-core-npm-7.62.0-576437601c-8104cf9f0f.zip
  .yarn/cache/@sentry-integrations-npm-7.62.0-1e9171e1c3-5fc8a13732.zip
  .yarn/cache/@sentry-internal-tracing-npm-7.62.0-7e4e9d34fa-6ad10fb38f.zip
  .yarn/cache/@sentry-nextjs-npm-7.62.0-fa325b1cea-cc90516d7e.zip
  .yarn/cache/@sentry-node-npm-7.62.0-16acc9a3d8-720b9526b8.zip
  .yarn/cache/@sentry-react-npm-7.62.0-35b3cdf198-7cd746d859.zip
  .yarn/cache/@sentry-replay-npm-7.62.0-77c9aed632-80f762666a.zip
  .yarn/cache/@sentry-types-npm-7.62.0-ca88f2d4a4-8b702f9989.zip
  .yarn/cache/@sentry-utils-npm-7.62.0-ca03f9bd11-324d8561ff.zip
  .yarn/cache/@sentry-webpack-plugin-npm-1.20.0-9eeec4f0d8-d582026c36.zip
  .yarn/cache/commondir-npm-1.0.1-291b790340-59715f2fc4.zip
  .yarn/cache/cookie-npm-0.4.2-7761894d5f-a00833c998.zip
  .yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-6151e6f982.zip
  .yarn/cache/glob-npm-8.1.0-65f64af8b1-92fbea3221.zip
  .yarn/cache/immediate-npm-3.0.6-c27588a2d3-f9b3486477.zip
  .yarn/cache/is-reference-npm-1.2.1-87ca1743c8-e7b48149f8.zip
  .yarn/cache/lie-npm-3.1.1-91350720d9-6da9f2121d.zip
  .yarn/cache/localforage-npm-1.10.0-cf9ea9a436-f2978b434d.zip
  .yarn/cache/lru_map-npm-0.3.3-a038bb3418-ca9dd43c65.zip
  .yarn/cache/magic-string-npm-0.27.0-a60a83c0b4-273faaa50b.zip
  .yarn/cache/minimatch-npm-5.1.6-1e71429f4c-7564208ef8.zip
  .yarn/cache/mkdirp-npm-0.5.6-dcd5a6b97b-0c91b721bb.zip
  .yarn/cache/node-fetch-npm-2.6.12-48619ce9d6-3bc1655203.zip
  .yarn/cache/progress-npm-2.0.3-d1f87e2ac6-f67403fe7b.zip
  .yarn/cache/rollup-npm-2.78.0-09284f4c78-01b5a7ae08.zip
  .yarn/cache/stacktrace-parser-npm-0.1.10-36f3e571bd-f4fbddfc09.zip
  .yarn/cache/tr46-npm-0.0.3-de53018915-726321c5ea.zip
  .yarn/cache/type-fest-npm-0.7.1-7b37912923-5b1b113529.zip
  .yarn/cache/webidl-conversions-npm-3.0.1-60310f6a2b-c92a0a6ab9.zip
  .yarn/cache/webpack-sources-npm-3.2.3-6bfb5d9563-989e401b9f.zip
  .yarn/cache/whatwg-url-npm-5.0.0-374fb45e60-b8daed4ad3.zip
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.properties
  sentry.server.config.ts
  yarn.lock
Labels: Setting

#201 Setting : test 범위 수정
  .github/workflows/ci.yml
  jest.config.js
Labels: Setting

#197 Component : Header 컴포넌트 구현
  src/app/grouping/[groupId]/apply/components/ApplyHeader.tsx
  src/app/grouping/[groupId]/apply/page.tsx
  src/app/grouping/[groupId]/board/[boardId]/components/BoardHeader.client.tsx
  src/app/grouping/[groupId]/board/[boardId]/page.tsx
  src/app/grouping/[groupId]/components/GroupingHeader.client.tsx
  src/app/grouping/[groupId]/feedback/components/FeedbackHeader.tsx
  src/app/grouping/[groupId]/feedback/components/mate/MateComponent.tsx
  src/app/grouping/[groupId]/feedback/components/praise/PraiseComponent.tsx
  src/app/grouping/[groupId]/members/components/MembersHeader.client.tsx
  src/app/grouping/[groupId]/members/page.tsx
  src/app/grouping/[groupId]/page.tsx
  src/app/grouping/[groupId]/write/components/WriteHeader.tsx
  src/app/grouping/[groupId]/write/page.tsx
  src/app/grouping/create/components/CreateHeader.tsx
  src/app/grouping/create/page.tsx
  src/app/grouping/page.tsx
  src/app/join/components/JoinHeader.server.tsx
  src/app/join/components/JoinTopNavigationBar.server.tsx
  src/app/join/funnels/JoinFunnel.tsx
  src/app/join/funnels/step1/Step1Component.server.tsx
  src/app/profile/components/ProfileHeader.client.tsx
  src/app/profile/mates/components/ProfileMatesHeader.client.tsx
  src/app/profile/mates/page.tsx
  src/app/profile/page.tsx
  src/app/profile/praise/components/ProfilePraiseHeader.client.tsx
  src/app/profile/praise/page.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/common/NavigationBar/TopNavigationBar.tsx
  src/style/theme/colors.ts
Labels: Component

#217 Feature : Avatar 컴포넌트 구현
  public/dummy_avatar.png
  public/icons/16/host.svg
  src/app/grouping/[groupId]/members/components/MemberItem.client.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/index.ts
  src/constants/dummyData.ts
Labels: Feature

#211 Component : TextArea
  src/app/grouping/create/components/inputSection/ContentSection.client.tsx
  src/app/join/funnels/step3/components/NoticeSection.tsx
  src/app/join/funnels/step4/components/NicknameSection.client.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
  src/components/TextList/TextList.tsx
  src/components/TextList/index.ts
Labels: Component

#214 Component : Tabs 리팩토링
  src/app/grouping/[groupId]/components/ContentSection.client.tsx
  src/app/grouping/[groupId]/page.tsx
  src/components/Tabs/Tabs.client.tsx
  src/components/Tabs/index.ts
  src/components/common/Tabs/index.tsx
Labels: Component

#219 Feature : 기존 assets 추가
  public/assets/alert.svg
  public/assets/arrow_back.svg
  public/assets/arrow_left.svg
  public/assets/arrow_left_white.svg
  public/assets/arrow_right.svg
  public/assets/arrow_right_gray.svg
  public/assets/avatar.svg
  public/assets/board_fill.svg
  public/assets/board_white.svg
  public/assets/bookmark.svg
  public/assets/bookmark_fill.svg
  public/assets/certified_student.svg
  public/assets/check_mark.svg
  public/assets/checkbox_circle.svg
  public/assets/checkbox_circle_checked.svg
  public/assets/checkbox_square.svg
  public/assets/checkbox_square_checked.svg
  public/assets/close.svg
  public/assets/comment.svg
  public/assets/image_plus.svg
  public/assets/like.svg
  public/assets/location.svg
  public/assets/main_logo.png
  public/assets/more.svg
  public/assets/notice.svg
  public/assets/onboarding1.svg
  public/assets/onboarding2.svg
  public/assets/plus.svg
  public/assets/search_navbar.svg
  public/assets/setting.svg
  public/assets/tabIcon/grouping.svg
  public/assets/tabIcon/grouping_filled.svg
  public/assets/tabIcon/meeting.svg
  public/assets/tabIcon/meeting_filled.svg
  public/assets/tabIcon/profile.svg
  public/assets/tabIcon/profile_filled.svg
  public/list/icons/gloddy.svg
Labels: Feature

#226 Fix : Flex 공통 컴포넌트 에러 해결
  src/components/Layout/Flex.tsx
Labels: Fix

#220 Refactoring : 회원가입 페이지 수정된 디자인에 맞게 수정
  public/icons/24/checkbox_outline_checked.svg
  public/icons/24/checkbox_outline_default.svg
  public/icons/24/checkbox_solid_checked.svg
  public/icons/24/checkbox_solid_default.svg
  src/app/grouping/[groupId]/write/components/InputForm.tsx
  src/app/join/components/JoinContentTextMessage.client.tsx
  src/app/join/components/JoinContext.client.tsx
  src/app/join/components/JoinHeader.client.tsx
  src/app/join/components/JoinTitleTextMessage.client.tsx
  src/app/join/funnels/JoinFunnel.tsx
  src/app/join/funnels/step1/Step1Component.client.tsx
  src/app/join/funnels/step1/components/CheckboxSection.server.tsx
  src/app/join/funnels/step1/components/FormSection.client.tsx
  src/app/join/funnels/step1/components/NoticeSection.client.tsx
  src/app/join/funnels/step1/components/NumberForm.client.tsx
  src/app/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/app/join/funnels/step1/type.ts
  src/app/join/funnels/step2/Step2Component.client.tsx
  src/app/join/funnels/step2/components/AgreeForm.client.tsx
  src/app/join/funnels/step2/components/InputForm.client.tsx
  src/app/join/funnels/step2/components/SchoolSection.client.tsx
  src/app/join/funnels/step2/components/SearchResultSection.client.tsx
  src/app/join/funnels/step2/components/SubmitSection.client.tsx
  src/app/join/funnels/step3/Step3Component.client.tsx
  src/app/join/funnels/step3/components/CertificationForm.client.tsx
  src/app/join/funnels/step3/components/EmailForm.client.tsx
  src/app/join/funnels/step3/components/EmailSection.client.tsx
  src/app/join/funnels/step3/components/FormSection.client.tsx
  src/app/join/funnels/step3/components/NoticeSection.client.tsx
  src/app/join/funnels/step3/components/TimerContext.client.tsx
  src/app/join/funnels/step4/Step4Component.client.tsx
  src/app/join/funnels/step4/components/BirthdaySection.client.tsx
  src/app/join/funnels/step4/components/GenderSection.client.tsx
  src/app/join/funnels/step4/components/ImageSection.client.tsx
  src/app/join/funnels/step4/components/InputForm.client.tsx
  src/app/join/funnels/step4/components/NicknameSection.client.tsx
  src/app/join/funnels/step5/Step5Component.client.tsx
  src/app/join/funnels/step5/components/InputForm.client.tsx
  src/app/join/funnels/step5/components/PersonalityItem.client.tsx
  src/app/join/funnels/step5/components/PersonalitySection.client.tsx
  src/app/join/page.tsx
  src/app/join/type.ts
  src/components/BottomFixedDiv/BottomFixedDiv.server.tsx
  src/components/BottomFixedDiv/index.ts
  src/components/Modal/BottomSheet.tsx
  src/components/TextField/SearchTextField.client.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
  src/components/TextList/TextList.tsx
  src/components/common/Checkbox/CircleCheckbox.tsx
Labels: Refactoring

#228 Refactoring : TextField - Spacing label여부에 따라 on/off
  src/components/TextField/TextField.client.tsx
Labels: Refactoring

#225 Feature : Grouping 페이지 리팩토링
  public/icons/16/date_range.svg
  public/icons/16/group_blue.svg
  public/icons/16/group_gray.svg
  public/icons/16/group_warning.svg
  public/icons/16/location.svg
  src/app/grouping/components/GroupingCard.client.tsx
  src/app/grouping/components/GroupingCardList.client.tsx
  src/app/grouping/page.tsx
  src/app/grouping/util.ts
  src/app/layout.tsx
  src/app/meeting/components/ContentSection.client.tsx
  src/app/meeting/components/EvaluationContent.client.tsx
  src/app/meeting/components/ParticipatingContent.client.tsx
  src/app/meeting/components/WaitingContent.client.tsx
  src/app/meeting/layout.tsx
  src/app/meeting/page.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/Card/index.ts
  src/components/Header/Header.tsx
Labels: Feature

#229 Refactoring : 모임 상세 페이지 리팩토링
  next.config.js
  public/icons/24/more_secondary.svg
  public/images/dummy_avatar.png
  public/images/dummy_image.png
  src/apis/groups/apis.ts
  src/apis/groups/keys.ts
  src/apis/groups/queries.ts
  src/apis/groups/type.ts
  src/app/grouping/[groupId]/components/ContentSection.client.tsx
  src/app/grouping/[groupId]/components/GroupingDetail.client.tsx
  src/app/grouping/[groupId]/components/GroupingHeader.client.tsx
  src/app/grouping/[groupId]/components/TopSection.client.tsx
  src/app/grouping/[groupId]/components/board/ArticleList.client.tsx
  src/app/grouping/[groupId]/components/board/BoardContent.client.tsx
  src/app/grouping/[groupId]/components/board/Notice.client.tsx
  src/app/grouping/[groupId]/components/board/NoticeList.client.tsx
  src/app/grouping/[groupId]/components/board/index.ts
  src/app/grouping/[groupId]/components/detail/DetailContent.client.tsx
  src/app/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/grouping/[groupId]/components/detail/Member.client.tsx
  src/app/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/grouping/[groupId]/components/detail/TimeSection.client.tsx
  src/app/grouping/[groupId]/components/detail/index.ts
  src/app/grouping/[groupId]/page.tsx
  src/app/grouping/[groupId]/type.ts
  src/app/grouping/components/ArticleItem.client.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Layout/Flex.tsx
  src/components/Modal/Modal.client.tsx
  src/components/Tabs/Tabs.client.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
  src/constants/dummyData.ts
  src/hooks/useNumberParams.ts
Labels: Refactoring

#235 Fix : `child.type.name` 체크 에러 해결
  .github/workflows/cd-feature-branch.yml
  src/components/Button/ButtonGroup.tsx
  src/components/SegmentGroup/SegmentGroup.client.tsx
  src/components/Tabs/Tabs.client.tsx
Labels: Fix

#234 [Page] 나의 모임 페이지 구현
  src/app/(main)/grouping/util.ts
  src/app/(main)/meeting/components/ContentSection.client.tsx
  src/app/(main)/meeting/components/EvaluationContent.client.tsx
  src/app/(main)/meeting/components/FeedbackContent.client.tsx
  src/app/(main)/meeting/components/ParticipatingContent.client.tsx
  src/app/(main)/meeting/components/SubtitleSection.tsx
  src/app/(main)/meeting/components/WaitingContent.client.tsx
  src/app/(main)/meeting/page.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/common/Spacing/DivisionSpacing.tsx
Labels: Feature

#236 Refactoring : 회원가입 2-3페이지 학교 검색 구현 & 리팩토링
  public/icons/24/checkbox_solid_default.svg
  src/apis/auth/apis.ts
  src/apis/auth/keys.ts
  src/apis/auth/queries.ts
  src/apis/auth/type.ts
  src/app/(main)/grouping/create/components/inputSection/LocationSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/MaxUserSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/MeetDateSection.client.tsx
  src/app/(sub)/join/components/JoinContext.client.tsx
  src/app/(sub)/join/components/JoinHeader.client.tsx
  src/app/(sub)/join/funnels/step2/Step2Component.client.tsx
  src/app/(sub)/join/funnels/step2/components/AgreeForm.client.tsx
  src/app/(sub)/join/funnels/step2/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step2/components/SchoolForm.client.tsx
  src/app/(sub)/join/funnels/step2/components/SchoolSection.client.tsx
  src/app/(sub)/join/funnels/step2/components/SubmitSection.client.tsx
  src/app/(sub)/join/funnels/step2/utils.ts
  src/app/(sub)/join/funnels/step3/Step3Component.client.tsx
  src/app/(sub)/join/funnels/step3/components/CertificationForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailSection.client.tsx
  src/app/(sub)/join/funnels/step3/components/FormSection.client.tsx
  src/app/(sub)/join/funnels/step3/components/NoticeSection.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdaySection.client.tsx
  src/app/(sub)/join/funnels/step4/components/GenderSection.client.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/Header/Header.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
  src/constants/dummyData.ts
  src/hooks/useOverlay/OverlayController.tsx
  src/hooks/useOverlay/OverlayProvider.tsx
  src/hooks/useOverlay/index.ts
  src/hooks/useOverlay/type.ts
  src/hooks/useOverlay/useOverlay.tsx
Labels: Refactoring

#238 Refactoring : 회원가입 4-5페이지 리팩토링
  src/app/(sub)/join/components/JoinContentTextMessage.client.tsx
  src/app/(sub)/join/funnels/step4/components/GenderSection.client.tsx
  src/app/(sub)/join/funnels/step5/Step5Component.client.tsx
  src/app/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step5/components/PersonalitySection.client.tsx
  src/components/SegmentGroup/index.ts
  src/components/Tag/Tag.tsx
  src/constants/personalityList.ts
Labels: Refactoring

#241 Component : Toast 구현
  src/components/Modal/Toast.client.tsx
  src/hooks/useOverlay/useOverlay.tsx
Labels: Component

#243 Refactoring : 모임 지원 페이지 UI 리팩토링
  public/icons/48/check.svg
  src/app/(main)/grouping/[groupId]/apply/components/ApplyHeader.tsx
  src/app/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/apply/page.tsx
  src/components/Button/Button.tsx
Labels: Refactoring

#248 Fix : 그루핑, 나의 모임 페이지 오류 수정
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/(main)/grouping/util.ts
  src/components/Card/GroupingCard.client.tsx
  src/components/Tabs/Tabs.client.tsx
Labels: Fix

#247 Refactoring : 회원가입 중 에러 수정 및 리팩토링
  src/apis/auth/mutations.ts
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/components/SegmentGroup/SegmentGroup.client.tsx
  src/constants/dummyData.ts
Labels: Refactoring

#254 Page : 환경 설정 페이지 구현
  src/app/(main)/profile/setting/components/LinkSection.server.tsx
  src/app/(main)/profile/setting/components/ProfileSection.client.tsx
  src/app/(main)/profile/setting/components/SettingHeader.tsx
  src/app/(main)/profile/setting/page.tsx
Labels: Page

#258 Refactoring : 전체적인 BottomSheet, Modal 관리 리팩토링
  src/app/(main)/grouping/[groupId]/apply/components/ApplyModal.client.tsx
  src/app/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/grouping/components/ArticleItemModal.client.tsx
  src/app/(main)/grouping/create/components/GroupingModal.client.tsx
  src/app/(main)/grouping/create/components/InputForm.client.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/MaxUserBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/MeetingDateBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/inputSection/ContentSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/ImageSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/LocationSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/MaxUserSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/MeetDateSection.client.tsx
  src/app/(main)/grouping/create/components/inputSection/TitleSection.server.tsx
  src/app/(main)/grouping/create/page.tsx
  src/app/(main)/grouping/create/util.ts
  src/app/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/(main)/profile/mates/components/MatesModal.client.tsx
  src/app/(sub)/join/funnels/step2/Step2Component.client.tsx
  src/app/(sub)/join/funnels/step2/components/AgreeBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step3/Step3Component.client.tsx
  src/app/(sub)/join/funnels/step3/components/CertificateSkipModal.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/ModalStatusProvider.client.tsx
  src/app/(sub)/join/funnels/step3/components/VerifyBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdayBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdaySection.client.tsx
  src/app/(sub)/join/funnels/step4/components/GenderSection.client.tsx
  src/app/(sub)/join/funnels/step4/components/ImageSection.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step4/components/NicknameSection.client.tsx
  src/app/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Modal/Modal.client.tsx
  src/components/Modal/ModalContext.client.tsx
  src/components/Modal/ModalWrapper.client.tsx
  src/components/Modal/Toast.client.tsx
  src/components/Modal/index.ts
  src/components/PotalWrapper/PortalWrapper.tsx
  src/components/TextField/TextField.client.tsx
  src/hooks/common/useDidUnMount/index.ts
  src/hooks/common/useDidUnMount/useDidUnMount.ts
  src/hooks/useBottomSheet.ts
  src/hooks/useModal/ModalProvider.tsx
  src/hooks/useModal/index.ts
  src/hooks/useModal/type.ts
  src/hooks/useModal/useModal.tsx
  src/hooks/useModals.ts
  src/hooks/useOverlay/OverlayController.tsx
  src/hooks/useOverlay/OverlayProvider.tsx
  src/hooks/useOverlay/index.ts
  src/hooks/useOverlay/type.ts
  src/hooks/useOverlay/useOverlay.tsx
  src/store/useModalStore.ts
Labels: Refactoring

#260 Page : 프로필 수정 페이지 구현
  src/apis/profile/apis.ts
  src/apis/profile/mutations.ts
  src/apis/profile/type.ts
  src/app/(main)/profile/setting/edit/components/EditHeader.tsx
  src/app/(main)/profile/setting/edit/components/EditProvider.client.tsx
  src/app/(main)/profile/setting/edit/components/InputForm.client.tsx
  src/app/(main)/profile/setting/edit/page.tsx
  src/app/(main)/profile/setting/edit/personality/page.tsx
  src/app/(main)/profile/setting/edit/type.ts
  src/app/(main)/profile/setting/page.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/(sub)/join/type.ts
  src/app/error.tsx
  src/components/Modal/BirthdayBottomSheet.client.tsx
  src/components/Tag/Tag.tsx
  src/utils/formatDateDTO.ts
Labels: Page

#262 Feature : 게시글 작성 페이지 구현
  public/icons/24/info.svg
  public/icons/32/close.svg
  public/icons/48/add_photo.svg
  src/apis/common/apis.ts
  src/apis/common/type.ts
  src/apis/groups/apis.ts
  src/apis/groups/mutations.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/BoardDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/board/ArticleList.client.tsx
  src/app/(main)/grouping/[groupId]/components/board/NoticeList.client.tsx
  src/app/(main)/grouping/[groupId]/write/WriteContext.tsx
  src/app/(main)/grouping/[groupId]/write/components/ImageSection.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteHeader.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteHeader.tsx
  src/app/(main)/grouping/[groupId]/write/components/WriteModal.tsx
  src/app/(main)/grouping/[groupId]/write/page.tsx
  src/app/(main)/grouping/[groupId]/write/type.ts
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/components/common/ImageFrame/index.tsx
  src/hooks/useFileUpload.tsx
Labels: Feature

#267 Feature : 게시글 상세 페이지 구현
  src/apis/groups/apis.ts
  src/apis/groups/mutations.ts
  src/apis/groups/queries.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/BoardDetail.client.tsx
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/BoardHeader.client.tsx
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/CommentForm.tsx
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/CommentList.client.tsx
  src/app/(main)/grouping/[groupId]/board/[boardId]/components/WriteSection.client.tsx
  src/app/(main)/grouping/[groupId]/board/[boardId]/page.tsx
  src/app/(main)/grouping/[groupId]/components/board/ArticleList.client.tsx
  src/app/(main)/grouping/[groupId]/write/components/InputForm.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/grouping/components/DeleteModal.client.tsx
  src/app/layout.tsx
  src/components/Button/IconButton.tsx
  src/components/common/Provider/QueryProvider.client.tsx
Labels: Feature

#269 Refactoring : board -> article로 변경
  src/apis/groups/mutations.ts
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleDetail.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleHeader.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentForm.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/components/CommentList.client.tsx
  src/app/(main)/grouping/[groupId]/articles/[articleId]/page.tsx
  src/app/(main)/grouping/[groupId]/components/GroupingDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/ArticleList.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/NoticeList.client.tsx
  src/app/(main)/grouping/[groupId]/components/articles/index.ts
  src/app/(main)/grouping/components/ArticleItem.client.tsx
Labels: Refactoring

#266 Feature : 모임 후기 api 연결
  public/icons/32/add.svg
  public/icons/32/draft_orders.svg
  public/icons/32/education.svg
  src/apis/profile/apis.ts
  src/apis/profile/mutations.ts
  src/apis/profile/queries.ts
  src/apis/profile/type.ts
  src/app/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MemberItem.client.tsx
  src/app/(main)/grouping/components/ArticleItem.client.tsx
  src/app/(main)/profile/components/ProfileSection.client.tsx
  src/app/(main)/profile/mates/components/MatesDeleteModal.client.tsx
  src/app/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/(main)/profile/mates/components/MatesModal.client.tsx
  src/app/(main)/profile/mates/components/MoreBottomSheet.client.tsx
  src/app/(main)/profile/setting/edit/components/InputForm.client.tsx
  src/components/Avatar/Avatar.tsx
  src/constants/dummyData.ts
  tailwind.config.js
Labels: Feature

#273 Feature : 모임 지원서 관리 페이지 구현
  public/icons/16/application.svg
  public/icons/16/gloddy.svg
  public/icons/24/application.svg
  public/images/reject_character.png
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/components/GroupingHeader.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageDetail.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageHeader.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageModal.tsx
  src/app/(main)/grouping/[groupId]/manage/page.tsx
  src/components/Button/ButtonGroup.tsx
  src/components/Button/IconButton.tsx
  src/style/theme/colors.ts
Labels: Feature

#271 [Feature] 회원 정보 수정 - 성격 api 구현
  src/apis/profile/queries.ts
  src/apis/profile/type.ts
  src/app/(main)/profile/components/ProfileSection.client.tsx
  src/app/(main)/profile/setting/edit/components/EditProvider.client.tsx
  src/app/(main)/profile/setting/edit/components/ProfileEdit.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1Header.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2.client.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2Header.tsx
  src/app/(main)/profile/setting/edit/components/step2/Step2InputForm.client.tsx
  src/app/(main)/profile/setting/edit/page.tsx
  src/app/(main)/profile/setting/edit/personality/page.tsx
Labels: Feature

#275 Page : 개인정보 페이지 구현
  src/app/(main)/profile/setting/information/components/Information.tsx
  src/app/(main)/profile/setting/information/components/InformationHeader.tsx
  src/app/(main)/profile/setting/information/page.tsx
  src/app/(main)/profile/setting/service/components/ServiceHeader.tsx
  src/app/(main)/profile/setting/service/page.tsx
  src/constants/settingInformation.ts
Labels: Page

#278 Feature : 모임 개설 페이지 및 BottomSheet 리팩토링
  public/icons/48/add_photo_white.svg
  src/apis/groups/type.ts
  src/app/(main)/grouping/create/components/CreateGroupContext.tsx
  src/app/(main)/grouping/create/components/CreateHeader.tsx
  src/app/(main)/grouping/create/components/CreateModal.client.tsx
  src/app/(main)/grouping/create/components/GroupingModal.client.tsx
  src/app/(main)/grouping/create/components/InputForm.client.tsx
  src/app/(main)/grouping/create/components/LocationBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/MaxUserBottomSheet.client.tsx
  src/app/(main)/grouping/create/components/MeetingDateBottomSheet.client.tsx
  src/app/(main)/grouping/create/page.tsx
  src/app/(main)/grouping/create/type.ts
  src/app/(main)/profile/mates/components/MatesDetail.client.tsx
  src/app/(main)/profile/mates/components/MoreBottomSheet.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(sub)/join/funnels/step2/Step2Component.client.tsx
  src/app/(sub)/join/funnels/step2/components/AgreeBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/VerifyBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/(sub)/join/page.tsx
  src/components/Modal/BirthdayBottomSheet.client.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Modal/index.ts
  src/components/TextField/TextField.client.tsx
Labels: Feature

#282 Feature : 모임 멤버 조회 페이지 리팩토링
  public/icons/16/hood.svg
  public/icons/16/mate.svg
  public/icons/16/soulmate.svg
  src/apis/groups/apis.ts
  src/apis/groups/keys.ts
  src/apis/groups/mutations.ts
  src/apis/groups/queries.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/articles/[articleId]/page.tsx
  src/app/(main)/grouping/[groupId]/components/GroupingDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/GroupingHeader.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/MemberSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageDetail.client.tsx
  src/app/(main)/grouping/[groupId]/manage/page.tsx
  src/app/(main)/grouping/[groupId]/members/components/MemberItem.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MemberList.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MembersHeader.client.tsx
  src/app/(main)/grouping/[groupId]/members/components/MembersHeader.tsx
  src/app/(main)/grouping/[groupId]/members/page.tsx
  src/app/(main)/grouping/[groupId]/page.tsx
  src/app/(main)/grouping/components/GroupingCardList.client.tsx
  src/app/(main)/grouping/create/components/InputForm.client.tsx
  src/app/(main)/grouping/page.tsx
  src/app/(main)/profile/mates/page.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/profile/praise/page.tsx
  src/app/(main)/profile/setting/edit/page.tsx
  src/app/layout.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Button/IconButton.tsx
  src/components/common/Provider/HydrationProvider.tsx
  src/components/common/Provider/index.ts
  src/components/common/SwipePicker/TimeSwipePicker.tsx
  src/constants/dummyData.ts
  src/hooks/useShowMore.ts
  src/types/index.ts
Labels: Feature

#277 Fix : TextField 이슈 해결
  src/app/(sub)/join/funnels/step4/Step4Component.client.tsx
  src/components/TextField/TextField.client.tsx
  src/components/TextField/TextFieldController.client.tsx
Labels: Fix

#286 Fix : 회원가입 이슈 해결
  src/app/(sub)/join/funnels/step1/components/NumberForm.client.tsx
  src/app/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/app/(sub)/join/funnels/step1/util.ts
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/components/Modal/BirthdayBottomSheet.client.tsx
  src/constants/regexr.ts
Labels: Fix

#295 Fix : Textfield 높이 고정되지 않는 이슈
  src/components/TextField/TextField.client.tsx
Labels: Fix

#294 Feature : 스크랩, 지원서 작성 api 추가 및 적용
  public/images/accept_character.png
  public/images/reject_character.png
  src/apis/groups/apis.ts
  src/apis/groups/mutations.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/apply/components/ApplyModal.client.tsx
  src/app/(main)/grouping/[groupId]/apply/components/InputForm.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageModal.tsx
  src/components/Button/IconButton.tsx
Labels: Feature

#299 Feature : tabs - disabled 조건 추가
  src/components/Tabs/Tabs.client.tsx
Labels: Feature

#298 Feature : textarea scrollbar 구현
  src/app/globals.css
  src/components/TextField/TextField.client.tsx
Labels: Feature

#300 Feature : 회원가입 - 휴대폰 인증 페이지 timer 구현
  src/app/(sub)/join/funnels/step1/components/FormSection.client.tsx
  src/app/(sub)/join/funnels/step1/components/NumberForm.client.tsx
  src/app/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/components/Provider/TimerProvider.client.tsx
  src/components/Provider/index.ts
Labels: Feature

#306 Fix : 회원가입 이슈
  src/app/(main)/grouping/create/components/inputSection/SubmitSection.tsx
  src/app/(main)/grouping/create/type.ts
  src/app/(main)/meeting/components/FeedbackContent.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(sub)/join/funnels/step1/components/FormSection.client.tsx
  src/components/TextField/TextField.client.tsx
  src/constants/dummyData.ts
Labels: Fix

#308 Refactoring : group, apply 타입 변경
  src/apis/groups/apis.ts
  src/apis/groups/type.ts
  src/app/(main)/grouping/[groupId]/components/GroupingDetail.client.tsx
  src/app/(main)/grouping/[groupId]/components/TopSection.client.tsx
  src/app/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ApplyCard.client.tsx
  src/app/(main)/grouping/[groupId]/manage/components/ManageDetail.client.tsx
  src/app/(main)/grouping/create/components/InputForm.client.tsx
  src/app/(main)/grouping/util.ts
  src/components/Card/GroupingCard.client.tsx
  src/constants/dummyData.ts
  src/utils/copyToClipboard.ts
Labels: Refactoring

#311 Feature : 토큰 여부에 따라 redirect
  src/app/(sub)/token/Token.tsx
  src/app/(sub)/token/page.tsx
  src/app/page.tsx
  src/components/Card/GroupingCard.client.tsx
  src/middleware.ts
  src/utils/auth/tokenController.ts
  src/utils/cookieController.ts
Labels: Feature

#301 Component : Footer 구현
  public/icons/32/footer/grouping_default.png
  public/icons/32/footer/grouping_selected.png
  public/icons/32/footer/meeting_default.png
  public/icons/32/footer/meeting_selected.png
  public/icons/32/footer/profile_default.png
  public/icons/32/footer/profile_selected.png
  src/app/(main)/grouping/page.tsx
  src/app/(main)/meeting/page.tsx
  src/app/(main)/profile/page.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/common/NavigationBar/BottomNavigationBar.tsx
  src/components/common/NavigationBar/TopNavigationBar.tsx
  src/components/common/NavigationBar/index.ts
Labels: Component

#317 Feature : 나의 모임 api 연결
  src/apis/meeting/apis.ts
  src/apis/meeting/index.ts
  src/apis/meeting/keys.ts
  src/apis/meeting/mutations.ts
  src/apis/meeting/queries.ts
  src/apis/meeting/type.ts
  src/apis/user/apis.ts
  src/apis/user/keys.ts
  src/apis/user/queries.ts
  src/app/(main)/grouping/[groupId]/manage/components/ManageDetail.client.tsx
  src/app/(main)/meeting/bookmark/components/ContentSection.client.tsx
  src/app/(main)/meeting/bookmark/components/MeetingBookmarkHeader.tsx
  src/app/(main)/meeting/bookmark/page.tsx
  src/app/(main)/meeting/components/ContentSection.client.tsx
  src/app/(main)/meeting/components/NoMeeting.tsx
  src/app/(main)/meeting/components/ParticipatingContent.client.tsx
  src/app/(main)/meeting/components/WaitingContent.client.tsx
  src/app/(main)/meeting/page.tsx
  src/app/(main)/meeting/participate/components/ContentSection.client.tsx
  src/app/(main)/meeting/participate/components/FeedbackContent.client.tsx
  src/app/(main)/meeting/participate/components/MeetingParticipateHeader.tsx
  src/app/(main)/meeting/participate/components/ParticipatingContent.client.tsx
  src/app/(main)/meeting/participate/components/SubtitleSection.tsx
  src/app/(main)/meeting/participate/components/WaitingContent.client.tsx
  src/app/(main)/meeting/participate/page.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/common/Provider/HydrationProvider.tsx
  src/constants/dummyData.ts
  src/utils/formatMeetingDate.ts
Labels: Feature

#318 Fix : QA 1차 반영
  src/app/(main)/profile/setting/edit/components/ProfileEdit.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/BirthdayBottomSheet.client.tsx
  src/app/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/(sub)/join/components/JoinHeader.client.tsx
  src/app/(sub)/join/funnels/JoinFunnel.tsx
  src/app/(sub)/join/funnels/step1/components/FormSection.client.tsx
  src/app/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/app/(sub)/join/funnels/step2/components/AgreeBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step3/components/EmailForm.client.tsx
  src/app/(sub)/join/funnels/step3/components/VerifyBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/BirthdayBottomSheet.client.tsx
  src/app/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/app/(sub)/join/funnels/step5/Step5Component.client.tsx
  src/app/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/components/Footer/Footer.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Modal/index.ts
  src/components/TextField/TextField.client.tsx
  src/constants/personalityList.ts
Labels: Fix
