Repository gloddy-dev/gloddy-client, pull requests merged in 2023-07, with the labels that each got.

#39 회원가입 - 휴대폰 인증 화면(step1) 구현
  .yarn/install-state.gz
  app/join/layout.tsx
  app/join/step1/layout.tsx
  app/join/step1/page.tsx
  components/SpeechBubble/OnboardingSpeechBubble.tsx
  components/common/Button.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  components/common/Input/AuthInput.tsx
  components/common/Input/Input.tsx
  components/common/Input/TextArea.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/join/TextMessage.tsx
  public/assets/alert.svg
  public/assets/checkbox_circle_checked.svg
  style/theme/colors.ts
Labels: Page

#41 Step2 페이지 구현
  .pnp.cjs
  .yarn/cache/@emotion-is-prop-valid-npm-0.8.8-261a0f2426-bb7ec6d48c.zip
  .yarn/cache/@emotion-memoize-npm-0.7.4-5648cf11b8-4e3920d4ec.zip
  .yarn/cache/@react-aria-ssr-npm-3.7.0-af7503cd09-cf4af47feb.zip
  .yarn/cache/@react-aria-utils-npm-3.17.0-f850a91e21-a7c9824441.zip
  .yarn/cache/@react-stately-utils-npm-3.7.0-7651126160-91feaae770.zip
  .yarn/cache/@react-types-shared-npm-3.18.1-3f3e414253-298822d1cc.zip
  .yarn/cache/@swc-helpers-npm-0.4.14-f806c3fb16-273fd3f3fc.zip
  .yarn/cache/framer-motion-npm-10.12.18-1ebaf9f57f-71539be117.zip
  .yarn/cache/react-modal-sheet-npm-2.0.0-657c09a51c-a1757548e0.zip
  .yarn/install-state.gz
  app/join/step1/page.tsx
  app/join/step2/layout.tsx
  app/join/step2/page.tsx
  components/common/Button.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  components/common/Modal/BottomUpModal.tsx
  components/common/Modal/ModalWrapper.tsx
  components/join/TextMessage.tsx
  package.json
  tailwind.config.js
  yarn.lock
Labels: Page

#42 [component]- calendar component
  .pnp.cjs
  .yarn/cache/@popperjs-core-npm-2.11.8-f1692e11a0-e5c69fdebf.zip
  .yarn/cache/@types-react-datepicker-npm-4.11.2-17ebb5ab66-592cff1604.zip
  .yarn/cache/date-fns-npm-2.30.0-895c790e0f-f7be015232.zip
  .yarn/cache/react-datepicker-npm-4.15.0-04ef085d5e-1a61a5328f.zip
  .yarn/cache/react-fast-compare-npm-3.2.2-45b585a872-2071415b4f.zip
  .yarn/cache/react-onclickoutside-npm-6.13.0-c9116fb62e-a7cfe62e91.zip
  .yarn/cache/react-popper-npm-2.3.0-1045578379-837111c987.zip
  .yarn/cache/warning-npm-4.0.3-291e921d6d-4f2cb6a957.zip
  .yarn/install-state.gz
  app/board/layout.tsx
  app/globals.css
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  app/grouping/layout.tsx
  app/meeting/layout.tsx
  app/profile/layout.tsx
  components/common/Calendar.tsx
  components/common/NavigationBar/BottomNavigation.tsx
  package.json
  public/assets/left_arrow.svg
  public/assets/right_arrow.svg
  yarn.lock
Labels: ✨ Component

#46 Page : 회원가입 - 학교 이메일 인증 화면
  .eslintrc.js
  .vscode/settings.json
  .yarn/install-state.gz
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/layout.tsx
  app/join/step3/page.tsx
  components/common/Button.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  components/common/Input/AuthInput.tsx
  components/common/Modal/BottomUpModal.tsx
  constants/regexr.ts
  public/assets/close.svg
  style/theme/animations.ts
  tailwind.config.js
Labels: :page_facing_up: Page

#48 ✨ Component : Swiper 이용한 Date picker
  .pnp.cjs
  .yarn/cache/ssr-window-npm-4.0.2-01f9c0151e-df18260092.zip
  .yarn/cache/swiper-npm-9.4.1-38d46d35a3-1180b3b766.zip
  app/globals.css
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  package.json
  style/theme/colors.ts
  utils/date.ts
  yarn.lock
Labels: ✨ Component

#49 🚿 Refactoring : 회원가입 - Step1 ~ Step3 리팩토링
  app/globals.css
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  app/onboarding/page.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  public/assets/main_logo.png
  public/assets/main_logo.svg
Labels: :shower: Refactoring

#50 🔧 Setting : favicon, error 페이지 등 설정
  app/error.tsx
  app/favicon.ico
  app/layout.tsx
  tsconfig.json
Labels: 🔧 Setting

#52 🚿 Refactoring: code review 반영
  .yarn/install-state.gz
  app/globals.css
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
Labels: :shower: Refactoring

#51 📄 page : 방만들기 화면 및 DatePicker + TimeSwiper 구현
  .yarn/install-state.gz
  app/globals.css
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  components/common/Input/TextArea.tsx
  components/common/NavigationBar/BottomNavigation.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  public/assets/image_plus.svg
Labels: ✨ Component, :page_facing_up: Page

#53 📄 Page : Page : 회원가입 - 프로필 사진, 닉네임, 생년월일, 성별 입력 화면 (Step4)
  @types/date.ts
  @types/inputValue.ts
  app/grouping/create-meeting/page.tsx
  app/join/step2/page.tsx
  app/join/step4/layout.tsx
  app/join/step4/page.tsx
  components/common/ImageFrame/CircleImageFrame.tsx
  components/common/Input/AuthInput.tsx
  components/common/Modal/BottomUpModal.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  public/assets/plus.svg
  style/theme/colors.ts
  utils/saveImage.ts
Labels: :page_facing_up: Page

#56 Test : Label 자동 부여 Github Action
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Test

#55 🚿 Refactoring : 프로젝트 리팩토링
  .eslintignore
  .eslintrc.js
  .github/auto_assign.yml
  .gitignore
  .pnp.cjs
  .prettierignore
  .prettierrc.js
  .yarn/cache/prettier-plugin-tailwindcss-npm-0.3.0-a8491b7f62-007c095584.zip
  .yarn/install-state.gz
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  app/join/step4/page.tsx
  components/TextMessage/AuthTextMessage.tsx
  components/common/Button.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/join/TextMessage.tsx
  hooks/useModal.ts
  next-env.d.ts
  package.json
  style/theme/index.ts
  tailwind.config.js
  utils/date.ts
  yarn.lock
Labels: :shower: Refactoring

#57 🔬 Test : Github Action Labeler 테스트
  .github/labeler.yml
  .github/workflows/auto-label.yml
Labels: 🔬 Test

#58 🔬 Test : Milestone 자동 부여 - Github Action
  .github/workflows/auto-milestones.yml
Labels: 🔧 Setting, 🔬 Test

#63 ✨ Component : 모임인원 picker , 모임 방 만들기 UI 개선 및 swiper 로직 수정
  .yarn/install-state.gz
  app/globals.css
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  components/common/Modal/BottomUpModal.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/PersonnelPicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  style/theme/colors.ts
Labels: ✨ Component

#65 🔬 Test : 배포 테스트
  .github/labeler.yml
  .github/workflows/auto-publishing.yml
  build.sh
Labels: 🔬 Test, 🐞 Bug

#66 🔬 Test : 자동 배포 Github Action 테스트
  .github/workflows/auto-publishing.yml
  build.sh
Labels: 🔬 Test

#67 🐛 Fix : 모든 branch에서 배포 Github Action 일어나는 에러 해결
  .github/workflows/auto-publishing.yml
  build.sh
Labels: 🐛 Fix

#68 🚿 Refactoring : repository의 모든 내용 복사
  .github/workflows/auto-publishing.yml
  app/join/step4/page.tsx
Labels: :shower: Refactoring, 🚿 Refactoring

#69 🚿 Refactoring : 배포를 위한 리팩토링
  .eslintrc.js
  .github/workflows/auto-publishing-develop.yml
  .github/workflows/auto-publishing-feature.yml
  app/grouping/GroupingCard.tsx
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  app/grouping/layout.tsx
  app/grouping/page.tsx
  app/join/layout.tsx
  app/join/step4/page.tsx
  app/meeting/layout.tsx
  app/onboarding/page.tsx
  app/profile/layout.tsx
  components/SpeechBubble/OnboardingSpeechBubble.tsx
  components/common/Button.tsx
  components/common/Calendar.tsx
  components/common/Checkbox/SquareCheckbox.tsx
  components/common/ImageFrame/CircleImageFrame.tsx
  components/common/Input/AuthInput.tsx
  components/common/Input/Input.tsx
  components/common/Input/TextArea.tsx
  components/common/Modal/BottomUpModal.tsx
  components/common/Modal/ModalWrapper.tsx
  components/common/NavigationBar/BottomNavigation.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/common/SwipePicker/PersonnelPicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
Labels: 🚿 Refactoring

#64 ✨ Component : EasterEgg 컴포넌트 구현
  app/template.tsx
  components/common/layout/EasterEgg.tsx
  constants/common.ts
  hooks/common/useDidMount/useDidMount.ts
  hooks/useEasterEgg.tsx
Labels: ✨ Component

#74 Refactoring : 코드 컨벤션에 맞게 Type명 수정 & 불필요한 'use client' 제거
  .yarn/install-state.gz
  app/join/layout.tsx
  app/join/step1/layout.tsx
  app/join/step1/page.tsx
  app/join/step2/layout.tsx
  app/join/step3/layout.tsx
  app/join/step4/layout.tsx
Labels: 🚿 Refactoring

#75 📄 Page : login 페이지 구현
  app/login/layout.tsx
  app/login/page.tsx
Labels: 📄 Page

#70 📄 Page : 회원가입 - 성격 선택 화면 (Step5)
  app/join/step5/layout.tsx
  app/join/step5/page.tsx
  components/join/PersonalityItem.tsx
  constants/personalityList.ts
Labels: 📄 Page

#81 🚿 Refactoring : 방만들기 페이지 리팩토링 & 전체적인 리팩토링
  .github/labeler.yml
  .github/workflows/auto-label.yml
  @types/global.d.ts
  @types/inputValue.ts
  app/grouping/GroupingCard.tsx
  app/grouping/create-meeting/layout.tsx
  app/grouping/create-meeting/page.tsx
  app/grouping/layout.tsx
  app/grouping/page.tsx
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  app/join/step4/page.tsx
  app/login/page.tsx
  components/common/Button.tsx
  components/common/Calendar.tsx
  components/common/ImageFrame/CircleImageFrame.tsx
  components/common/ImageFrame/ImageFrame.tsx
  components/common/Input/AuthInput.tsx
  components/common/Input/Input.tsx
  components/common/Input/index.ts
  components/common/Modal/BottomUpModal.tsx
  components/common/NavigationBar/BottomNavigation.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/common/SwipePicker/NumberSwipePicker.tsx
  components/common/SwipePicker/PersonnelPicker.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  components/common/layout/EasterEgg.tsx
  utils/makeFileToBlob.ts
Labels: Refactoring

#85 Refactoring : grouping 페이지 리팩토링
  app/grouping/GroupingCard.tsx
  app/grouping/create-meeting/layout.tsx
  app/grouping/layout.tsx
  app/grouping/page.tsx
  app/join/step4/page.tsx
  components/common/Input/Input.tsx
  components/common/NavigationBar/BottomNavigation.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  public/assets/add.svg
  public/assets/tabIcon/grouping.svg
  public/assets/tabIcon/grouping_filled.svg
  public/assets/tabIcon/meeting.svg
  public/assets/tabIcon/meeting_filled.svg
  public/assets/tabIcon/profile.svg
  public/assets/tabIcon/profile_filled.svg
  types/date.ts
  types/global.d.ts
  types/index.ts
  types/inputValue.ts
Labels: 🚿 Refactoring

#89 [Refactoring] : layout 설정 휴대폰에 맞게 수정
  app/layout.tsx
Labels: Refactoring

#83 Component: ConfirmModal 컴포넌트 구현
  .yarn/install-state.gz
  components/common/Button.tsx
  components/common/Modal/BottomUpModal.tsx
  components/common/Modal/ConfirmModal.tsx
  components/common/Modal/ModalWrapper.tsx
  components/common/PortalWrapper.tsx
  hooks/useOnClickOutside.ts
  style/theme/animations.ts
  tailwind.config.js
  types/index.ts
Labels: Component

#109 Refactoring : 그룹 상세 페이지 리팩토링
  .eslintrc.js
  .yarn/install-state.gz
  app/grouping/[id]/components/ApplyButton.client.tsx
  app/grouping/[id]/components/ContentSection.client.tsx
  app/grouping/[id]/components/TopSection.client.tsx
  app/grouping/[id]/components/board/BoardContent.server.tsx
  app/grouping/[id]/components/board/CardList.server.tsx
  app/grouping/[id]/page.tsx
  app/grouping/[id]/type.ts
  components/common/PotalWrapper/index.tsx
  components/common/Tabs/index.tsx
  package.json
  public/assets/bookmark.svg
  public/assets/bookmark_fill.svg
Labels: Refactoring

#110 Refactoring : create meeting 페이지 컴포넌트 분리
  app/grouping/create/components/InputForm.client.tsx
  app/grouping/create/components/TopNavigationBar.client.tsx
  app/grouping/create/components/inputSection/DateSection.server.tsx
  app/grouping/create/components/inputSection/DescriptionSection.server.tsx
  app/grouping/create/components/inputSection/InputArea.server.tsx
  app/grouping/create/components/inputSection/LocationSection.server.tsx
  app/grouping/create/components/inputSection/NumberSection.server.tsx
  app/grouping/create/components/inputSection/TitleSection.server.tsx
  app/grouping/create/page.tsx
  app/grouping/create/type.ts
  app/join/step2/components/BottomModal.client.tsx
  app/join/step3/components/InputForm.client.tsx
  app/join/step4/components/InputForm.client.tsx
  components/common/ImageFrame/index.tsx
  components/common/Input/Input.tsx
  components/common/Input/TextArea.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  components/common/Spacing/DivisionSpacing.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  hooks/useModals.ts
  store/useModalStore.ts
Labels: Refactoring, Good Review

#115 Fix : 배포 안되는 이슈 해결
  .eslintrc.js
  app/join/step3/components/InputForm.client.tsx
  app/onboarding/page.tsx
  app/page.tsx
  components/common/ImageFrame/index.tsx
  components/common/Modal/ModalWrapper.tsx
  components/common/Spacing/DivisionSpacing.tsx
  constants/index.ts
Labels: Fix

#119 Page : 지원서 작성 페이지 구현
  .pnp.cjs
  .yarn/cache/tailwind-merge-npm-1.14.0-f448a138df-8cf5d37f51.zip
  app/grouping/[id]/apply/components/ApplyTopNavigationBar.tsx
  app/grouping/[id]/apply/components/InputForm.client.tsx
  app/grouping/[id]/apply/page.tsx
  app/grouping/[id]/components/ContentSection.client.tsx
  app/grouping/[id]/page.tsx
  components/common/Input/TextArea.tsx
  package.json
  utils/cn.ts
  yarn.lock
Labels: Page

#112 Refactoring : 회원가입 페이지 리팩토링 (컴포넌트 분리)
  app/grouping/create/components/CreateTopNavigationBar.tsx
  app/grouping/create/components/InputForm.client.tsx
  app/grouping/create/components/inputSection/DateSection.server.tsx
  app/grouping/create/components/inputSection/LocationSection.server.tsx
  app/grouping/create/components/inputSection/NumberSection.server.tsx
  app/grouping/create/page.tsx
  app/join/components/JoinTopNavigationBar.server.tsx
  app/join/layout.tsx
  app/join/step1/components/InputForm.client.tsx
  app/join/step1/page.tsx
  app/join/step2/components/BottomModal.client.tsx
  app/join/step2/components/InputForm.client.tsx
  app/join/step2/components/SearchResultSection.client.tsx
  app/join/step2/page.tsx
  app/join/step2/type.ts
  app/join/step3/components/CertificationSection.tsx
  app/join/step3/components/EmailSection.tsx
  app/join/step3/components/InputForm.client.tsx
  app/join/step3/components/NoticeSection.tsx
  app/join/step3/page.tsx
  app/join/step3/type.ts
  app/join/step4/components/InputForm.client.tsx
  app/join/step4/components/NextButtonSection.tsx
  app/join/step4/components/inputSection/BirthdaySection.tsx
  app/join/step4/components/inputSection/GenderSection.tsx
  app/join/step4/components/inputSection/ImageFrameSection.tsx
  app/join/step4/components/inputSection/NicknameSection.tsx
  app/join/step4/page.tsx
  app/join/step4/type.ts
  app/join/step5/components/InputForm.client.tsx
  app/join/step5/page.tsx
  app/provider.tsx
  components/common/BomttomFixedDiv/index.tsx
  components/common/Button/BottomFixedButton.tsx
  components/common/ImageFrame/index.tsx
  components/common/Input/Input.tsx
  components/common/Modal/BottomSheet.tsx
  components/common/Modal/ConfirmModal.tsx
  components/common/Modal/index.ts
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/GenderSwipePicker.tsx
  components/common/SwipePicker/SexSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/common/SwipePicker/index.ts
  hooks/useModals.ts
  store/store.ts
  store/useJoinStore.ts
  store/useModalStore.ts
  types/index.ts
Labels: Refactoring

#122 Setting : api 세팅
  .pnp.cjs
  .yarn/cache/@babel-runtime-npm-7.22.6-493f6b7ad0-e585338287.zip
  .yarn/cache/react-error-boundary-npm-4.0.10-26f7abd70f-4ad4864d2a.zip
  apis/auth/apis.ts
  apis/auth/type.ts
  apis/config/customError.ts
  apis/config/interceptor.client.ts
  apis/config/interceptor.ts
  apis/config/privateApi.ts
  apis/config/publicApi.ts
  apis/config/type.ts
  apis/groups/apis.ts
  apis/groups/keys.ts
  apis/groups/queries.ts
  apis/groups/type.ts
  apis/privateApi.ts
  apis/publicApi.ts
  app/grouping/components/FloatingBubbleSection.server.tsx
  app/grouping/components/GroupingCardList.client.tsx
  app/grouping/page.tsx
  app/join/step1/components/InputForm.client.tsx
  components/common/ErrorBoundary/RetryErrorBoundary.tsx
  components/common/ErrorBoundary/index.ts
  components/common/HydrationProvider/index.tsx
  package.json
  yarn.lock
Labels: Setting

#125 Refactoring : 모임 개설 페이지 리팩토링
  apis/config/interceptor.ts
  app/grouping/[id]/apply/components/InputForm.client.tsx
  app/grouping/[id]/write/components/InputForm.tsx
  app/grouping/create/components/CreateMeetingContext.tsx
  app/grouping/create/components/InputForm.client.tsx
  app/grouping/create/components/inputSection/DateSection.server.tsx
  app/grouping/create/components/inputSection/DescriptionSection.server.tsx
  app/grouping/create/components/inputSection/ImageSection.client.tsx
  app/grouping/create/components/inputSection/LocationSection.server.tsx
  app/grouping/create/components/inputSection/NumberSection.server.tsx
  app/grouping/create/components/inputSection/SubmitSection.tsx
  app/grouping/create/components/inputSection/TitleSection.server.tsx
  app/join/step1/page.tsx
  app/join/step2/page.tsx
  app/join/step3/page.tsx
  app/join/step4/components/InputForm.client.tsx
  app/join/step4/page.tsx
  app/join/step5/components/InputForm.client.tsx
  app/join/step5/page.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  components/common/Input/Input.tsx
  components/common/Input/TextArea.tsx
  components/common/Modal/BottomSheet.tsx
Labels: Refactoring

#126 Page : 상호작용 페이지 구현
  app/grouping/[id]/feedback/FeedbackContext.tsx
  app/grouping/[id]/feedback/components/FeedbackFunnel.tsx
  app/grouping/[id]/feedback/components/FeedbackTopNavigationBar.tsx
  app/grouping/[id]/feedback/components/mate/MateCard.tsx
  app/grouping/[id]/feedback/components/mate/MateCardList.tsx
  app/grouping/[id]/feedback/components/mate/MateComponent.tsx
  app/grouping/[id]/feedback/components/praise/PraiseCard.tsx
  app/grouping/[id]/feedback/components/praise/PraiseCardList.tsx
  app/grouping/[id]/feedback/components/praise/PraiseComponent.tsx
  app/grouping/[id]/feedback/page.tsx
  app/grouping/[id]/feedback/type.ts
  components/common/NavigationBar/TopNavigationBar.tsx
  hooks/useFunnel.tsx
  public/assets/active.svg
  public/assets/active_selected.svg
  public/assets/calm.svg
  public/assets/calm_selected.svg
  public/assets/close_red.svg
  public/assets/humor.svg
  public/assets/humor_selected.svg
  public/assets/kind.svg
  public/assets/kind_selected.svg
Labels: Page

#128 Featuring : 전화 번호 인증, 인증번호 확인 api 구현
  .github/ISSUE_TEMPLATE/trouble-shooting.md
  apis/auth/apis.ts
  apis/auth/mutations.ts
  apis/auth/type.ts
  apis/config/customError.ts
  apis/config/interceptor.ts
  apis/config/publicApi.ts
  apis/config/type.ts
  apis/groups/apis.ts
  app/join/components/PersonalityItem.server.tsx
  app/join/step1/components/InputForm.client.tsx
  app/join/step2/components/InputForm.client.tsx
  app/join/step3/components/EmailSection.tsx
  app/join/step5/components/InputForm.client.tsx
  components/common/Checkbox/CircleCheckbox.tsx
  components/common/Input/Input.tsx
  components/common/Input/TextArea.tsx
Labels: Featuring

#137 Fix : Tabs 컴포넌트 라우팅 이슈 해결
  components/common/Tabs/index.tsx
  hooks/useFunnel.tsx
Labels: Fix

#141 Featuring : 로그인 API 구현
  apis/auth/apis.ts
  apis/auth/mutations.ts
  apis/auth/type.ts
  app/join/funnels/step1/components/NumberVerifyForm.client.tsx
Labels: Featuring

#143 Refactoring : Swiper Picker 리팩토링 2
  apis/auth/apis.ts
  apis/config/interceptor.client.ts
  app/grouping/create/components/CreateGroupContext.tsx
  app/grouping/create/components/inputSection/ImageSection.client.tsx
  app/grouping/create/components/inputSection/MaxUserSection.client.tsx
  app/grouping/create/components/inputSection/MeetDateSection.client.tsx
  app/grouping/create/components/inputSection/SubmitSection.tsx
  app/grouping/page.tsx
  app/join/funnels/step4/type.ts
  app/page.tsx
  components/common/SwipePicker/DateSwipePicker.tsx
  components/common/SwipePicker/GenderSwipePicker.tsx
  components/common/SwipePicker/SwipePicker.tsx
  components/common/SwipePicker/TimeSwipePicker.tsx
  hooks/useModals.ts
  store/store.ts
  store/useJoinStore.ts
  types/index.ts
Labels: Component, Refactoring

#144 Refactoring : Grouping 페이지 DTO 맞게 리팩토링
  apis/groups/apis.ts
  apis/groups/keys.ts
  apis/groups/queries.ts
  apis/groups/type.ts
  app/grouping/[id]/feedback/components/mate/MateComponent.tsx
  app/grouping/[id]/feedback/components/praise/PraiseComponent.tsx
  app/grouping/components/FloatingBubbleSection.server.tsx
  app/grouping/components/GroupingCard.client.tsx
  app/grouping/components/GroupingCardList.client.tsx
  app/grouping/components/GroupingTopNavigationBar.server.tsx
  app/grouping/page.tsx
  components/common/HydrationProvider/index.tsx
  components/common/NavigationBar/BottomNavigationBar.tsx
  components/common/NavigationBar/TopNavigationBar.tsx
  hooks/useFunnel.tsx
Labels: Refactoring

#146 Refactoring : login api 포맷 설정
  app/join/funnels/step1/components/NumberVerifyForm.client.tsx
  app/join/funnels/step1/util.ts
Labels: Refactoring

#149 Refactoring : 모임 상세 페이지 리팩토링
  apis/groups/type.ts
  app/grouping/[id]/components/GroupingTopNavigationBar.client.tsx
  app/grouping/[id]/components/TopSection.client.tsx
  app/grouping/[id]/components/detail/DetailContent.server.tsx
  app/grouping/[id]/components/detail/LocationSection.server.tsx
  app/grouping/[id]/components/detail/TimeSection.server.tsx
  app/grouping/[id]/page.tsx
  constants/index.ts
Labels: Refactoring
