Repository gloddy-dev/gloddy-client, pull requests merged in 2024-02, with the labels that each got.

#610 Fix: 커뮤니티 QA 사항 반영
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ArticleItem.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/page.tsx
  packages/web/src/app/[lng]/(main)/community/components/ArticleItem.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/CommunityHeader.tsx
  packages/web/src/app/[lng]/(main)/community/components/ContentSection.client.tsx
  packages/web/src/app/[lng]/(main)/community/page.tsx
  packages/web/src/app/i18n/locales/en/community.json
  packages/web/src/app/i18n/locales/ko/community.json
Labels: Fix

#615 Feature: 커뮤니티 게시글, 댓글, 대댓글 차단 기능 추가
  .gitignore
  packages/web/src/apis/community/mutations.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ArticleDetailHeader.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/CommentItem.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/CommentList.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/CommunityModal.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ReplyItem.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ReplyList.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/page.tsx
  packages/web/src/app/[lng]/(main)/community/components/AllContent.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/KpopContent.tsx
  packages/web/src/app/[lng]/(main)/community/components/LanguageContent.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/QuestionContent.client.tsx
  packages/web/src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleDetail.client.tsx
  packages/web/src/app/[lng]/(main)/grouping/components/GroupingCardList.client.tsx
  packages/web/src/app/i18n/locales/en/community.json
  packages/web/src/app/i18n/locales/ko/community.json
  packages/web/src/hooks/useListenMessageToReactNative.ts
  packages/web/src/store/useBlockStore.ts
Labels: Feature

#619 Fix: RN 토큰 저장 로직 제거
  .github/workflows/ci.yml
  packages/app/ios/Podfile.lock
  packages/app/src/components/OnBoarding.tsx
  packages/app/src/components/WebViewContainer.tsx
  packages/web/src/apis/config/privateApi.ts
  packages/web/src/hooks/token/useLogin.ts
  packages/web/src/hooks/token/useLogout.ts
  packages/web/src/hooks/useListenMessageToReactNative.ts
  packages/web/src/middleware.ts
  packages/web/src/utils/auth/tokenController.ts
Labels: Fix

#638 Fix : 로그인 에러 해결
  packages/app/src/components/OnBoarding.tsx
  packages/web/src/apis/auth/mutations.ts
Labels: Fix

#645 Release/v1.4.3
  .gitignore
  .yarn/sdks/integrations.yml
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  packages/app/src/components/OnBoarding.tsx
  packages/web/.nvmrc
  packages/web/src/apis/auth/mutations.ts
  packages/web/src/apis/community/mutations.tsx
  packages/web/src/apis/community/queries.ts
  packages/web/src/apis/config/privateApi.ts
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ArticleDetailHeader.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/ArticleItem.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/components/CommentForm.tsx
  packages/web/src/app/[lng]/(main)/community/[articleId]/page.tsx
  packages/web/src/app/[lng]/(main)/community/components/AllContent.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/ContentSection.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/KpopContent.tsx
  packages/web/src/app/[lng]/(main)/community/components/LanguageContent.client.tsx
  packages/web/src/app/[lng]/(main)/community/components/QuestionContent.client.tsx
  packages/web/src/app/[lng]/(main)/grouping/components/GroupingCardList.client.tsx
  packages/web/src/components/Provider/QueryProvider.client.tsx
Labels: patch
