Repository gloddy-dev/gloddy-client, pull requests merged in 2024-01, with the labels that each got.

#545 Feature: QueryProvider, ModalProvider 이슈해결
  src/app/[lng]/(main)/grouping/create/funnels/main/MainStep.client.tsx
  src/app/[lng]/(sub)/join/funnels/step1/components/NumberForm.client.tsx
  src/app/[lng]/layout.tsx
  src/components/Provider/QueryProvider.client.tsx
  src/components/Provider/ToastProvider.tsx
  src/hooks/useModal/index.ts
  src/hooks/useModal/useToast.tsx
Labels: Feature

#549 Feature : 국가 이미지 수정
  src/apis/profile/queries.ts
  src/app/[lng]/(main)/profile/setting/edit/components/ProfileEdit.client.tsx
  src/app/[lng]/(main)/profile/setting/edit/components/step1/CountryBotoomSheet.tsx
  src/app/[lng]/(main)/profile/setting/page.tsx
  src/app/[lng]/layout.tsx
  src/components/Provider/QueryProvider.client.tsx
  src/components/Provider/QueryProviderWrapModal.client.tsx
  src/constants/countary.json
Labels: Feature

#553 Fix: Profile page Date 객체 크로스 브라우징 이슈
  src/apis/profile/type.ts
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
Labels: Fix

#558 Fix: 모임 생성 페이지 X 버튼 app router로 수정
  src/app/[lng]/(main)/grouping/create/components/CreateHeader.client.tsx
Labels: Fix

#560 Fix: 이미지 업로드 에러 해결
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/cache/browser-image-compression-npm-2.0.2-21a831f9cb-16051f07b0.zip
  .yarn/cache/uzip-npm-0.20201231.0-122f770c6a-34253f4c3d.zip
  package.json
  src/apis/common/apis.ts
  src/app/[lng]/(sub)/join/funnels/step4/components/InputForm.client.tsx
  src/utils/compressImage.ts
  yarn.lock
Labels: Fix

#580 Feature : 회원가입 시 기본 이미지 설정
  public/images/road_character.jpg
  src/app/[lng]/(sub)/join/components/JoinContext.client.tsx
  src/app/[lng]/(sub)/join/funnels/step4/components/InputForm.client.tsx
Labels: Feature

#583 Feature: 성격유형 건너뛰기
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/CertificateSkipModal.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/i18n/locales/en/join.json
  src/app/i18n/locales/ko/join.json
  src/components/Modal/Modal.client.tsx
Labels: Feature

#585 Release/v1.4.1
  src/app/[lng]/(main)/profile/setting/edit/components/step1/Step1InputForm.client.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/CertificateSkipModal.tsx
  src/app/[lng]/(sub)/join/funnels/step5/components/InputForm.client.tsx
  src/app/i18n/locales/en/join.json
  src/app/i18n/locales/ko/join.json
  src/components/Modal/Modal.client.tsx
Labels: minor

#587 Feature: community api 연결 (댓글 제외)
  public/sprite/sprite.svg
  src/apis/community/apis.ts
  src/apis/community/index.ts
  src/apis/community/keys.ts
  src/apis/community/mutations.tsx
  src/apis/community/queries.ts
  src/apis/community/type.ts
  src/apis/groups/type.ts
  src/app/[lng]/(main)/community/[articleId]/components/ArticleDetail.tsx
  src/app/[lng]/(main)/community/[articleId]/components/ArticleDetailHeader.tsx
  src/app/[lng]/(main)/community/[articleId]/components/ArticleItem.tsx
  src/app/[lng]/(main)/community/[articleId]/page.tsx
  src/app/[lng]/(main)/community/components/AllContent.client.tsx
  src/app/[lng]/(main)/community/components/ArticleBadge.client.tsx
  src/app/[lng]/(main)/community/components/ArticleItem.client.tsx
  src/app/[lng]/(main)/community/components/ContentSection.client.tsx
  src/app/[lng]/(main)/community/components/CreateArticleButton.tsx
  src/app/[lng]/(main)/community/components/KpopContent.tsx
  src/app/[lng]/(main)/community/components/LanguageContent.client.tsx
  src/app/[lng]/(main)/community/components/QuestionContent.client.tsx
  src/app/[lng]/(main)/community/page.tsx
  src/app/[lng]/(main)/community/write/components/InputSection.tsx
  src/app/[lng]/(main)/community/write/type.ts
  src/app/i18n/locales/en/community.json
  src/app/i18n/locales/ko/community.json
  src/components/DropDown/DropDown.tsx
  src/components/DropDown/index.ts
  src/components/Footer/Footer.server.tsx
  src/components/ListBox/ListBoxController.tsx
  src/components/ListBox/ListBoxOptions.tsx
  src/components/Provider/HydrationProvider.tsx
  src/constants/dummyData.ts
  src/middleware.ts
Labels: Feature

#588 Feature : 성능 개선
  .yarn/cache/https-npm-1.0.0-39254cc592-ccea8a8363.zip
  package.json
  src/apis/groups/queries.ts
  src/app/[lng]/(main)/grouping/[groupId]/components/detail/LocationSection.client.tsx
  src/app/[lng]/(main)/grouping/page.tsx
  src/app/[lng]/(main)/meeting/participate/page.tsx
  src/app/[lng]/(main)/profile/components/ProfileDetailSection.client.tsx
  src/app/[lng]/(main)/profile/page.tsx
  src/components/Card/GroupingCard.client.tsx
  src/components/Footer/Footer.server.tsx
  src/components/NavLink/NavLink.tsx
  src/components/Provider/HydrationProvider.tsx
  src/components/Provider/QueryProvider.client.tsx
  src/utils/getBase64.ts
  src/utils/getBufferFromS3Url.ts
  yarn.lock
Labels: Feature

#594 Feature : NextJS의 Footer에서 React Native의 TabBar로 교체
  src/apis/auth/mutations.ts
  src/app/[lng]/(main)/community/page.tsx
  src/app/[lng]/(main)/error.tsx
  src/app/[lng]/(main)/grouping/page.tsx
  src/app/[lng]/(main)/meeting/participate/page.tsx
  src/app/[lng]/(sub)/join/funnels/step1/components/NumberVerifyForm.client.tsx
  src/app/[lng]/not-found.tsx
  src/components/Footer/Footer.server.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/utils/getIsAndroid.ts
  src/utils/getIsApp.ts
  src/utils/getIsIOS.ts
  src/utils/getIsServer.ts
Labels: Feature

#595 Feature : 커뮤니티 댓글 기능 추가
  src/apis/community/apis.ts
  src/apis/community/keys.ts
  src/apis/community/mutations.tsx
  src/apis/community/queries.ts
  src/apis/community/type.ts
  src/app/[lng]/(main)/community/[articleId]/components/ArticleDetail.tsx
  src/app/[lng]/(main)/community/[articleId]/components/ArticleItem.tsx
  src/app/[lng]/(main)/community/[articleId]/components/CommentForm.tsx
  src/app/[lng]/(main)/community/[articleId]/components/CommentItem.tsx
  src/app/[lng]/(main)/community/[articleId]/components/CommentList.tsx
  src/app/[lng]/(main)/community/[articleId]/components/CommentProvider.tsx
  src/app/[lng]/(main)/community/[articleId]/components/ReplyItem.tsx
  src/app/[lng]/(main)/community/[articleId]/components/ReplyList.tsx
  src/app/[lng]/(main)/community/[articleId]/page.tsx
  src/app/[lng]/(main)/community/components/ArticleItem.client.tsx
  src/app/[lng]/(main)/grouping/[groupId]/articles/[articleId]/components/ArticleDetail.client.tsx
  src/app/i18n/locales/en/community.json
  src/app/i18n/locales/ko/community.json
  src/components/Avatar/Avatar.tsx
  src/components/Card/CardHeader.client.tsx
  src/components/TextField/TextField.client.tsx
Labels: Feature

#597 Feature: 대댓글 입력시 CommentForm에 Focus가 되도록 수정
  src/app/[lng]/(main)/community/[articleId]/components/CommentForm.tsx
Labels: Feature
